<% include include/main-header %>
<link rel="stylesheet" href="css/basictable.css">
<link rel="stylesheet" href="plugins/combobox/autocomplete-ui.css"/>
<style>
	.custom-combobox {
		position: relative;
		display: inline-block;
	}
	.custom-combobox-toggle {
		position: absolute;
		top: 0;
		bottom: 0;
		margin-left: -1px;
		padding: 0;
	}
	.custom-combobox-input {
		margin: 0;
		padding: 5px 10px;
	}
	.ui-widget-overlay {
		position: fixed;
	}

   label{
	   max-width:195px!important;
	   text-align:left!important;
	   margin-bottom:5pximportant;
	   color:#515151;
   }
   @media(min-width:768px){
   input[type="text"], select,textarea, input[type="password"] {
	   max-width:300px;
   }
   textarea{
	   height:100px!important;
   }
   
   }
   @media(min-width:992px){
    .submit-btn-setting{
	   margin-left:195px;
   }
   }
</style>
<link rel="stylesheet" href="css/jquery.tag-editor.css" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">	
	<!-- Header Starts here-->
  		<% include include/header %>
  	<!-- Header Ends here-->
  		
  	<!-- Sidebar Starts Here-->
  		<% include include/sidebar %>
    <!-- Sidebar Ends Here-->
    <div class="content-wrapper">
    	<!-- Content Header (Page header) -->
    	<section class="content-header">
      		<h1>Bookmark <small><% if (typeof contentObj.label !== 'undefined' && contentObj.label !== null) { %><%= contentObj.label %><% } else{	%>Add new<% }%></small></h1>
      		<ol class="breadcrumb">
        		<% include include/dashboard-breadcrumb %>
        		<li class="active">Bookmark</li>
      		</ol>
    	</section>	
    	<!-- Main content -->
    	<section class="content">
   			<div class="row">
            				<div class="panel-body no-padding-top bg-white"> 
            					<% include include/display_returned_msg %>
            					<form class="form-horizontal" action="<%= backendDirectory %>/save/bookmark" method="POST" id="contentForm">
            						<input type="hidden" class="form-control" id="table_name" name="table_name" value="bookmarks">
      								<input type="hidden" class="form-control" id="unique_field" name="unique_field" value="label">
      								<input type="hidden" class="form-control" id="id" name="id" value="<% if (typeof contentObj._id !== 'undefined' && contentObj._id !== null) { %><%= contentObj._id %><% } %>">
      								<input type="hidden" class="form-control" id="editorField" name="editorField" value="<% if (typeof editorField !== 'undefined' && editorField !== null) { %><%= editorField %><% }else{ %>_id<% } %>">
      								<input type="hidden" class="form-control" id="editorValue" name="editorValue" value="<% if (typeof editorValue !== 'undefined' && editorValue !== null) { %><%= editorValue %><% } %>">
            						<input type="hidden" class="form-control" id="data" name="data" value="">
            						<div class="form-group">
    									<label for="firstname" class="col-sm-3  control-label">Categories </label>
    									<div class="col-sm-3">
                  							<select  required="required" class="form-control col-md-5 col-xs-12" name="categories" id="categories" >
                  							
                    						</select>
                  						</div>
                  						<div class="col-sm-3" style="margin-top:6px;">
    										<label> <input type="checkbox" id="default" name="default" value="1" <% if (typeof contentObj.default !== 'undefined' && contentObj.default !== null && contentObj.default == 1) { %>checked<% } %>>  <strong style="font-weight:600">Set as default</strong></label>
    			  						</div>
                 					</div>
                  					<div class="form-group">
    									<label for="firstname" class="col-sm-3  control-label">Type </label>
    									<div class="col-sm-9">
    										<select  required="required" class="form-control col-md-5 col-xs-12" name="type" id="type">
                  								<option value="url" <% if (typeof contentObj.type !== 'undefined' && contentObj.type !== null && contentObj.type == "url") { %>selected<% } %>>URL</option>
                  								<option value="html" <% if (typeof contentObj.type !== 'undefined' && contentObj.type !== null && contentObj.type == "html") { %>selected<% } %>>HTML</option>
                  								<option value="items" <% if (typeof contentObj.type !== 'undefined' && contentObj.type !== null && contentObj.type == "items") { %>selected<% } %>>Items</option>
                    						</select>
      									</div>
  									</div>
  									<div class="form-group">
                  						<label class="control-label col-md-3" for="first-name">Label<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-4">
                    						<input type="text" required="required" id="label" name="label" class="form-control col-md-5 col-xs-12" value="<% if (typeof contentObj.label !== 'undefined' && contentObj.label !== null) { %><%= contentObj.label %><% } %>">
                  						</div>
                					</div>
              						<div class="form-group linkurlSection" <% if (typeof contentObj.type !== 'undefined' && contentObj.type !== null && contentObj.type == "items") { %>style="display:none;"<% } %>>
                  						<label class="control-label col-md-3" id="urlSectionLabel">URL<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-4">
                   							<input type="text" class="form-control" STYLE="max-width:100%;" id="content" name="content" value="<% if (typeof contentObj.content !== 'undefined' && contentObj.content !== null) { %><%= contentObj.content %><% } %>">
                  						</div>
                					</div>
                					<div class="form-group linkurlSection" <% if (typeof contentObj.type !== 'undefined' && contentObj.type !== null && contentObj.type == "items") { %>style="display:none;"<% } %>>
                  						<label class="control-label col-md-3">Or Select any web page as URL (Search for web page)</label>
                  						<div class="col-md-6 col-lg-4 ui-widget">
                   							 <select class="combobox form-control" id="document_id" >
                             					
											</select>
                  						</div>
                					</div>
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="">Order</label>
                  						<div class="col-md-6 col-lg-4">
                   							<input type="text"  class="form-control col-md-5 col-xs-12" id="order_by_num" name="order_by_num" value="<% if (typeof contentObj.order_by_num !== 'undefined' && contentObj.order_by_num !== null) { %><%= contentObj.order_by_num %><% } %>">
                  						</div>
                					</div>
                					<div class="form-group">
    									<label for="firstname" class="col-sm-3  control-label">Tags </label>
    									<div class="col-sm-9">
    										<input type="hidden" class="form-control" id="default_tags" value="<% if (typeof contentObj.tags !== 'undefined' && contentObj.tags !== null) { %><%= contentObj.tags %><% } %>">
    										<textarea type="text" class="form-control" name="tags" id="tags" rows="1"></textarea>
										</div>
                  					</div>
                					<div class="form-group" id="linkTargetDivID">
    									<label for="" class="col-sm-3 control-label">Target</label>
    									<div class="col-sm-9" style="margin-top:6px;">
    										<div STYLE="float:left; margin-right:10px;display:inline-block;">
      		  									<label> <input type="radio" id="source" name="source" value="1" <% if (typeof contentObj.source !== 'undefined' && contentObj.source !== null && contentObj.source == 1) { %>checked<% } %> checked>  <strong style="font-weight:600">Open in same window</strong></label>
    			  							</div>
				  							<div STYLE="float:left;display:inline-block;"">
      		  									<label> <input type="radio" id="source" name="source" value="0" <% if (typeof contentObj.source !== 'undefined' && contentObj.source !== null && contentObj.source == 0) { %>checked<% } %> > <strong style="font-weight:600">Open in new window </strong></label>
    			  							</div>
										</div>
									</div>
                					<div class="form-group">
    									<label for="" class="col-sm-3 control-label">Status</label>
    									<div class="col-sm-9" style="margin-top:6px;">
    										<div STYLE="float:left; margin-right:10px; display:inline-block;">
      		  									<label> <input type="radio" id="status" name="status" value="1" <% if (typeof contentObj.status !== 'undefined' && contentObj.status !== null && contentObj.status == 1) { %>checked<% } %> > <strong style="font-weight:600">Active</strong></label>
    			  							</div>
				  							<div STYLE="float:left; display:inline-block;"">
      		  									<label> <input type="radio" id="status" name="status" value="0" <% if (typeof contentObj.status !== 'undefined' && contentObj.status !== null && contentObj.status == 0) { %>checked<% } %> > <strong style="font-weight:600">Inactive</strong></label>
    			  							</div>
										</div>
									</div>
									<div CLASS="ROW ">
									<div CLASS="col-md-12 itemsContent" STYLE="margin-left:13px;display:none;">
										<span style="float:right; font-weight:bold;">
												<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" style="margin-bottom: 10px;">+ Add new Item</button>
											</span>
									</div>
									</div>
									<div CLASS="row">
									
									<div class="itemsContent col-md-12" id="itemsTable"  <% if (typeof contentObj.type !== 'undefined' && contentObj.type !== null && contentObj.type == "items") { 	}else{	%>style="display:none;" <% }	%>>
    									<label for="" class="col-lg-3 col-sm-12 control-label" STYLE="padding-left:0px;">Bookmark Items</label>
    									<input type="hidden" id="bookmark_items" name="bookmark_items" value="">
											
											<div CLASS="table-responsive">
										   <table class="table table-striped  table-bordered table-hover custom-tbl-st bt" id="table-breakpoint">
												<thead>
												  <tr class="item">
												  	  <th><input id="chk_all" class="" type="checkbox" name="select"></th>
													  <th>Label</th>
													  <th>Type</th>
													  <th>Content</th>
													  <th>Related Document</th>
													  <th>Query String</th>
													  <th>Level</th>
													  <th>Sort Order</th>
													  <th>Target</th>
													  <th>Status</th>
													  <th colspan="2" align="center">Actions</th>
												  </tr>
											  </thead>
											  <tbody id="link_items">
											  <% if (typeof contentObj.bookmark_items !== 'undefined' && contentObj.bookmark_items !== null  && contentObj.bookmark_items != "") { 	
											  			try{
															var bookmark_items = JSON.parse(contentObj.bookmark_items); 
        												}	catch (error){
       														var bookmark_items = contentObj.bookmark_items; 
    													} 
    													
											  		for(var i=0; i< bookmark_items.length; i++){	%>
											  			<tr class="itemClass item_<%= bookmark_items[i].uuid %>">
											  				<td><input type="checkbox" value="<%= bookmark_items[i].uuid %>" id="Select" class="check itemtr_<%= bookmark_items[i].uuid %>" name="Select"></td>
											  				<td><input id="labelField" type="hidden" value="<%= bookmark_items[i].label %>"><%= bookmark_items[i].label %></td>
											  				<td><input id="typeField" type="hidden" value="<%= bookmark_items[i].type %>"><%= bookmark_items[i].type %></td>
											  				<td id="content"><%= bookmark_items[i].content %><input type="hidden" id="contentField_<%= bookmark_items[i].uuid %>" value="<%= bookmark_items[i].content %>"></td>
											  				<td><input id="related_documentField" type="hidden" value="<%= bookmark_items[i].related_document %>"><%= bookmark_items[i].related_document %></td>
											  				<td><input id="query_stringField" type="hidden" value="<%= bookmark_items[i].query_string %>"><%= bookmark_items[i].query_string %></td>
											  				<td><input id="levelField" type="hidden" value="<%= bookmark_items[i].level %>"><%= bookmark_items[i].level %></td>
											  				<td><input id="sort_orderField" type="hidden" value="<%= bookmark_items[i].item_sort_order %>"><%= bookmark_items[i].item_sort_order %></td>
															<td><input id="targetField" type="hidden" value="<%= bookmark_items[i].target %>"><%= bookmark_items[i].target %></td>
															<td><input id="statusField" type="hidden" value="<%= bookmark_items[i].status %>"><%= bookmark_items[i].status %></td>
															<td><a href="javascript:void(0)" title="Edit" onClick="edit_item('<%= bookmark_items[i].uuid %>')"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" onClick="remove_item('<%= bookmark_items[i].uuid %>')" title="Remove"><i class="fa fa-trash"></i></a></td>
														</tr>
			
											  	<%	}
											  }	%>
											  </tbody>
											</table>
											<span style="float:right;font-size:12px;font-style:italic;color:#d9534f">Note: Please submit the form to save the changes!</span>
											</div>
											
									</div>
									</div>
                					<div class="form-group">
                   						<div class="col-md-9 col-lg-6">
               								<div class="submit-btn-setting"> <button type="submit" class="btn btn-primary btn-color margin-right-5 btn-sm" id="btn_submit">Submit</button>
               								<% if (typeof contentObj._id !== 'undefined' && contentObj._id !== null) {	%>
               									<a href="<%= backendDirectory %>/list/bookmarks" class="btn btn-danger btn-sm">Cancel</a>
               								<%	}else{	%>
               									<button type="reset" class="btn btn-danger btn-sm">Reset</button>
               								<% } %>
               								</div>
               							</div>
                					</div>
              					</form>
              				</div>
            			</div>
      		</section>
    		<!--//body content--> 
	</div>
  	<!--//Main Content--> 
  	
  	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal" onClick="resetItemForm()">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Bookmark item
                </h4>
            </div>
			
			<style>
			.form-group {
    margin-bottom: 15px;
    overflow: hidden;
}
			
			</style>
            
            <!-- Modal Body -->
            <div class="modal-body">
            	<div class="form-group" id="messageId">
                    <label for="item_label"><strong>Label</strong><span class="f_req">*</span></label>
                      <input class="form-control" id="item_label" placeholder="Enter Label"/>
                      <input type="hidden" class="form-control" id="item_uuid"/>
                  </div>
                  <div class="form-group">
                    <label for="item_type"><strong>Type</strong><span class="f_req">*</span></label>
                	<select onChange="change_item_div(this)" name="item_type" id="item_type"  class="form-control" >
						<option value="url">URL</option>
						<option value='html'>HTML</option>
					</select>
                  </div>
                  <div class="form-group">
                    <label for="item_type" id="itemlinklabel"><strong>Link</strong><span class="f_req">*</span></label>
                	<input type="text" class="form-control " id="item_link" placeholder="Link"/>
                  </div>
                  <!--<div class="form-group" id="relatedLinkDocID">
                    <label for="item_type"><strong>Or select any web page for URL</strong><span class="f_req">*</span></label>
                	<div class="ui-widget">
							<select name="item_related_doc" id="item_related_doc" >
								<option value=""></option>
						
							</select>
						</div>
                  </div>-->
                   <div class="form-group">
                    <label for="item_type" id="itemlinklabel"><strong>Query String</strong></label>
                	<input  class="form-control" id="item_query_string" placeholder="Query String"/>
                  </div>
                  <div class="form-group" style="margin-top:5px;">
                    <label for="item_type"><strong>Level</strong></label>
                	<input type="" class="form-control" id="item_level" placeholder="Level" value="0" style="margin-right:10px;"/>
					</div>
                 <div class="form-group" style="margin-top:5px;">
                 <label >   <span for="item_type"><strong>Sort Order</strong></span></label>
                	<input type="" class="form-control" id="item_sort_order" placeholder="Sort Order" value="0"/>
                  </div>
                  <div class="form-group">
                    <label for="item_type" class="itemTargetDivClass"><strong>Target</strong></label>
                	<select name="item_target" id="item_target" class="itemTargetDivClass form-control" style="margin-right:37px;">
						<option value='1'>Open in same tab</option>
						<option value='0'>Open in new window</option>
					</select>
					</div>
					
					 <div class="form-group">
					
                   <LABEL> <span for="item_type"><strong>Status</strong></span></LABEL>
                	<select name="item_active" id="item_active"  class="form-control">
						<option value='1'>Active</option>
						<option value='0'>Inactive</option>
					</select>
                  </div>
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onClick="resetItemForm()">
                            Close
                </button>
                <button type="button" class="btn btn-primary" onClick="savelinkitem()">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>

	<!-- Footer Starts Here-->
	<% include include/footer %>
	<!-- Footer Ends Here-->
</div>
<!-- Page-Level Plugin Scripts-->
<script src="js/basictable.js"></script>
 <script src="plugins/combobox/autocomplete-ui.js"></script>
 <script src="js/jquery.validate.js"></script>
 <script src="js/jquery.caret.min.js"></script>
 <script src="js/jquery.tag-editor.min.js"></script>
			
<script>
function loadcategories(){
	$("#categories").html("");
	
	var sVal="<% if (typeof contentObj.categories !== 'undefined' && contentObj.categories !== null) { %><%= contentObj.categories %><% } %>";
	
		var jsonRow=backendDirectory+"/api_fetch_list?start=0&limit=100&collection=categories";
	
		$.getJSON(jsonRow,function(html){
			var contentHtml="<option value=''>--Select--</option>";
			if(html.aaData.length>0){
					$.each(html.aaData, function(i,row){
						contentHtml+="<option value='"+row.code+"' ";
						if(sVal==row.code){
							contentHtml+="selected";
						}
						contentHtml+=" >"+row.name+"</option>";
					});
     		}
			$("#categories").html(contentHtml);
		});
}
function generateObjectJson(){
	var createArr=new Array();
	var i=0;
	$('.itemClass').each(function(){
		var createObject={};
		var uuid=$(this).find('#Select').val();
  		createObject['uuid']=$(this).find('#Select').val();
  		createObject['label']=$(this).find('#labelField').val();
  		createObject['type']=$(this).find('#typeField').val();
  		createObject['content']=$(this).find('#contentField_'+uuid).val();
  		createObject['related_document']=$(this).find('#related_documentField').val();
  		createObject['query_string']=$(this).find('#query_stringField').val();
  		createObject['level']=$(this).find('#levelField').val();
  		var sortORderNum=$(this).find('#sort_orderField').val();
  		
  		if(sortORderNum=="" || sortORderNum==null || sortORderNum === 'undefined'){
  			sortORderNum=0;
  		}
  		createObject['item_sort_order']=sortORderNum;
  		createObject['status']=$(this).find('#statusField').val();
  		createObject['target']=$(this).find('#targetField').val();
  		createArr[i]=createObject;
  		i++;
  	});
  	//alert(JSON.stringify(createArr))
  	$("#bookmark_items").val(JSON.stringify(createArr));
}

function remove_item(e){
	if(e!=""){
		$(".itemtr_"+e).parents('.itemClass').remove();
	}
}

function edit_item(e){
	if(e!=""){
		var row= $(".itemtr_"+e).parents('.itemClass');	
		var label=row.find('#label').html();
		$("#item_uuid").val(e);
		$("#item_type").val(row.find('#typeField').val());
		var itemTypeSelected=row.find('#typeField').val();
		$("#item_level").val(row.find('#levelField').val());
		$("#item_sort_order").val(row.find('#sort_orderField').val());
		if(row.find('#statusField').val()=="Active"){
			$("#item_active").val(1);
		}else{
			$("#item_active").val(0);
		}
		
		$("#item_target").val(row.find('#targetField').val());
		$("#item_label").val(row.find('#labelField').val());
		$("#item_link").val(row.find('#contentField_'+e).val());
		$("#item_query_string").val(row.find('#query_stringField').val());
		$("select#item_type").val(itemTypeSelected).trigger('change');
		$('#myModal').modal('show'); 
	}
}

function savelinkitem(){
	$("#msgSpan").remove();
	var item_uuid=$("#item_uuid").val();
	var item_label=$("#item_label").val();
	var item_type=$("#item_type").val();
	var item_related_doc=$("#item_related_doc").val();
	var item_link=$("#item_link").val();
	var item_level=$("#item_level").val();
	var item_sort_order=$("#item_sort_order").val();
	var item_target=$("#item_target").val();
	var item_active=$("#item_active").val();
	var item_query_string=$("#item_query_string").val();
	
	if(item_label!="" && (item_link!="" || item_related_doc!="")){
		
		var itemStatus="Inactive";
		if(item_active==1){
			itemStatus="Active";
		}
		
		var newEntryFlag=false;
			if(item_uuid==""){
				item_uuid=guid();
				newEntryFlag=true;
			}
			var subHTMLSTR='<td><input type="checkbox" value="'+item_uuid+'" id="Select" class="check itemtr_'+item_uuid+'" name="Select"></td>';
				subHTMLSTR+='<td><input id="labelField" type="hidden" value="'+item_label+'">'+item_label+'</td>';
				subHTMLSTR+='<td><input id="typeField" type="hidden" value="'+item_type+'">'+item_type+'</td>';
				subHTMLSTR+='<td id="content">'+item_link+'<input type="hidden" id="contentField_'+item_uuid+'" value=""></td>';
				subHTMLSTR+='<td><input id="related_documentField" type="hidden" value="'+item_related_doc+'">'+item_related_doc+'</td>';
				subHTMLSTR+='<td><input id="query_stringField" type="hidden" value="'+item_query_string+'">'+item_query_string+'</td>';
				subHTMLSTR+='<td><input id="levelField" type="hidden" value="'+item_level+'">'+item_level+'</td>';
				subHTMLSTR+='<td><input id="sort_orderField" type="hidden" value="'+item_sort_order+'">'+item_sort_order+'</td>';
				subHTMLSTR+='<td><input id="targetField" type="hidden" value="'+item_target+'">'+item_target+'</td>';
				subHTMLSTR+='<td><input id="statusField" type="hidden" value="'+itemStatus+'">'+itemStatus+'</td>';
				subHTMLSTR+='<td><a href="javascript:void(0)" title="Edit" onClick="edit_item(\''+item_uuid+'\')"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" onClick="remove_item(\''+item_uuid+'\')" title="Remove"><i class="fa fa-trash"></i></a></td>';
			
			if(newEntryFlag){
				var htmlStr='<tr class="itemClass item_'+item_uuid+'">'+subHTMLSTR+'</tr>';
			
				$("#link_items").append(htmlStr);
				$("#contentField_"+item_uuid).val(item_link);
			}else{
				var htmlStr=subHTMLSTR;
				
				$(".item_"+item_uuid).html(htmlStr);
				$("#contentField_"+item_uuid).val(item_link);
			}
			generateObjectJson();
			$('#myModal').modal('hide');
			resetItemForm();
			
			
	}else{
		$("#messageId").before('<span id="msgSpan" style="color:#CC0000;">Please add all the required fields!</span>');
	}	
}		
	function change_item_div(ev){
 		if($(ev).val()=="html"){
			$(".itemTargetDivClass").hide();
			$("#relatedLinkDocID").hide();
			$("#itemlinklabel").html("Content");
			var input    = document.getElementById('item_link'),
        	textarea = document.createElement('textarea');
		    textarea.id    = input.id;
   			textarea.name    = input.id;
    	    textarea.value = input.value;
    	    textarea.style = "max-width:100%";
    		input.parentNode.replaceChild(textarea, input);
		}else if($(ev).val()=="url"){
			$(".itemTargetDivClass").show();
			$("#itemlinklabel").html("URL");
			var textarea    = document.getElementById('item_link');
        	input = document.createElement('input');
   			input.id    = textarea.id;
   			input.name    = textarea.id;
   			input.value=textarea.value;
    		textarea.parentNode.replaceChild(input, textarea);
    		$("#relatedLinkDocID").show();
    	}
		$("#item_link").addClass('form-control');
 	}
	function change_url(ev){
		$(".itemsContent").hide();
		if(ev=="html"){
			$("#linkTargetDivID").hide();
			$("#urlSectionDoc").hide();
			$(".linkurlSection").show();
			$("#urlSectionLabel").html('Content <span class="required">*</span>');
			var input    = document.getElementById('content');
			textarea = document.createElement('textarea');
   			textarea.id    = input.id;
   			textarea.name    = input.id;
    		textarea.value = input.value;
    		input.parentNode.replaceChild(textarea, input);
		}else if(ev=="url"){
			$("#urlSectionLabel").html('URL <span class="required">*</span>');
			var textarea    = document.getElementById('content');
        	input = document.createElement('input');
   			input.id    = textarea.id;
   			input.name    = textarea.id;
   			input.value=textarea.value;
    		textarea.parentNode.replaceChild(input, textarea);
    		$("#urlSectionDoc").show();
    		$(".linkurlSection").show();
    		$("#linkTargetDivID").show();
    	}else if(ev=="items"){
    		$("#linkTargetDivID").hide();
			$(".itemsContent").show();
			$("#urlSectionDoc").hide();
			$(".linkurlSection").hide();
		}
		$("#content").addClass('form-control');
	}
function resetItemForm(){
	$("#msgSpan").remove();
	$("#item_uuid").val("");
	$("#item_label").val('');
	$("#item_link").val('');
	$("#item_level").val(0);
	$("#item_sort_order").val(0);
	$("#item_target").val(1);
	$("#item_active").val(1);
	$("#item_related_doc").val('');
	$("#item_type").val('url');
	$("#item_query_string").val("");
	$( "#item_related_doc" ).html("");
}

$(document).ready(function(){
	loadcategories();
	
  	drawTagsUi();	// call this method to initialise tags
	
	  $('#table').basictable();
	   $('#table-breakpoint').basictable({
        breakpoint: 751
      });

	var xhr;
	xhr=$.getJSON("api_fetch_list?start=0&limit=20&s=&collection=documents",function(result){
		var dropdownStr='<option value="" selected="selected">Select a web page</option>';
		if(result.aaData.length>=1){
			$.each(result.aaData, function(i,row){
				dropdownStr+='<option value="'+row.Code+'">'+row.Document+'</option>';
			});
		}
		$("#document_id").html(dropdownStr);
		$('.combobox').combobox();
	});
	
 	$("#type").change(function(){
 		change_url($(this).val());
 	});
 	 <% if (typeof contentObj.type !== 'undefined' && contentObj.type !== null) { %>
 	 	var typeVal='<%= contentObj.type %>';
 	 	change_url(typeVal);
 	 <%	}	%>
 	// toggle all checkboxes from a table when header checkbox is clicked
  	$("#rel_images th input:checkbox").click(function () {


  		$checks = $(this).closest("#rel_images").find("tbody input:checkbox");
  		if ($(this).is(":checked")) {
			$('#chk_all').prop("checked", true);
  			$checks.prop("checked", true);
  		} else {
			$('#chk_all').prop("checked", false);
  			$checks.prop("checked", false);
  		}  		
  	});
  	$('#link_url').keypress(function(e){
		var k = e.which;
    	/* numeric inputs can come from the keypad or the numeric row at the top */
   		if ( (k<48 || k>57) && (k<65 || k>90) && (k<97 || k>122) && (k!=45) && (k!=46) && (k!=95) && (k!=8) && (k!=0)) {
        	e.preventDefault();
			$.prompt("Allowed characters are A-Z, a-z, 0-9, _, -, .");
        	return false;
    	}
	});
	// validate form on keyup and submit
		$("#contentForm").validate({
			ignore: "",
			onkeyup: false,
			errorClass: 'error',
			validClass: 'valid',
			errorElement: "em",
			errorPlacement: function(error, element) {
				$(element).closest('div').append(error);
			},
			onfocusout: false,
			invalidHandler: function(form, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {                    
					validator.errorList[0].element.focus();
				}
			},
			rules: {
				categories: { required: true },
				type: { required: true },
				label: { required: true }
			},
			submitHandler: function(form) {
				var tempTags =$("#tags").val();
				if(tempTags!=""){
					$("#tags").val(JSON.stringify(tempTags.split(',')));
				}
				generateObjectJson();
 				dataAsJson('contentForm', form);
 			}
		});		
});

var xhr;
(function( $ ) {
	$.widget( "custom.combobox", {
		_create: function() {
				this.wrapper = $( "<span>" )
				.addClass( "custom-combobox" )
				.insertAfter( this.element );

				this.element.hide();
				this._createAutocomplete();
				this._createShowAllButton();
				},

				_createAutocomplete: function() {
				var ele_select= this.element;
				var selected = this.element.children( ":selected" ),
				value = selected.val() ? selected.text() : "";

				this.input = $( "<input>" )
				.appendTo( this.wrapper )
				.val( value )
				.attr( "title", "" )
				.addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
				.autocomplete({
				delay: 0,
				minLength: 0,
				source: $.proxy( this, "_source" )
				})
				.tooltip({
				tooltipClass: "ui-state-highlight"
				});

				this._on( this.input, {
				autocompleteselect: function( event, ui ) {
				//alert("show all");
				ui.item.option.selected = true;

				this._trigger( "select", event, {
				  item: ui.item.option
				});
				
				ele_select.trigger('change');
					if(ele_select.attr('id')=='document_id'){
						$("#content").val($("#document_id").val());
					}
				},

				autocompletechange: "_removeIfInvalid"
				});
				},

				_createShowAllButton: function() {
				var input = this.input,
				wasOpen = false;

				$( "<a>" )
				.attr( "tabIndex", -1 )
				.attr( "title", "Show All Items" )
				.tooltip()
				.appendTo( this.wrapper )
				.button({
				icons: {
				  primary: "ui-icon-triangle-1-s"
				},
				text: false
				})
				.removeClass( "ui-corner-all" )
				.addClass( "custom-combobox-toggle ui-corner-right" )
				.mousedown(function() {
				wasOpen = input.autocomplete( "widget" ).is( ":visible" );
				})
				.click(function() {
				input.focus();

				// Close if already visible
				if ( wasOpen ) {
				  return;
				}

				// Pass last search string as value to search for, displaying last results
				input.autocomplete( "search", 'SHOWALL' );
				});
				},

				_source: function( request, response ) {
				//var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
				var ele_select= this.element;
				if(request.term=='SHOWALL'){
				response(ele_select.children( "option" ).map(function() {
				var text = $( this ).text();
				var value= $( this ).val();
				//if ( this.value && ( !request.term || matcher.test(text) ) )
				return {
				  label: text,
				  value: text,
				  option: this
				};
				}) );

				}
				else
				{
				
				var jsonRow = '<%= backendDirectory %>/api_fetch_list?start=0&limit=20&collection=documents&s='+request.term;
				
				if(xhr) xhr.abort();
				xhr=$.getJSON(jsonRow,function(result){
					
				if(result.error){
					var html='<option value=""></option>';
					ele_select.html(html);
					response(ele_select.children( "option" ).map(function() {
					var text = $( this ).text();
					var value= $( this ).val();
					//if ( this.value && ( !request.term || matcher.test(text) ) )
					return {
				  		label: text,
				  		value: text,
				  		option: this
					};
					}) );
				}else{
					var html='<option value=""></option>';
					if(result.aaData.length>=1){
						$.each(result.aaData, function(i,row){
							html+='<option value="'+row.Code+'">'+row.Document+'</option>';
						});
					}
					
					ele_select.html(html);
					
					
					response(ele_select.children( "option" ).map(function() {
				var text = $( this ).text();
				var value= $( this ).val();
				//if ( this.value && ( !request.term || matcher.test(text) ) )
				return {
				  label: text,
				  value: text,
				  option: this
				};
				}) );
					
					
				}
				});

				} 

				},

				_removeIfInvalid: function( event, ui ) {

					// Selected an item, nothing to do
					if ( ui.item ) {

					return;
					}

					// Search for a match (case-insensitive)
					var value = this.input.val(),
					valueLowerCase = value.toLowerCase(),
					valid = false;
					var ele_select= this.element;
					this.element.children( "option" ).each(function() {
					if ( $( this ).text().toLowerCase() === valueLowerCase ) {
						this.selected = valid = true;	
						if(ele_select.attr('id')=='document_id'){
							$("#content").val(value);
						}
						ele_select.trigger('change');

						return false;
					}
					});

					// Found a match, nothing to do
					if ( valid ) {
					return;
					}

					// Remove invalid value
					this.input
					.val( "" )
					.attr( "title", value + " didn't match any item" )
					.tooltip( "open" );
					this.element.val( "" );
					this._delay(function() {
					this.input.tooltip( "close" ).attr( "title", "" );
					}, 2500 );
					this.input.data( "ui-autocomplete" ).term = "";
				},

				_destroy: function() {
					this.wrapper.remove();
					this.element.show();
				}
			});
			})( jQuery );
</script>
</body>
</html>