<% include include/main-header %>
<link href="css/animate.min.css" rel="stylesheet">
</head>

<body class="body-Login-back" id="login-pg">
    <div class="container">
    <div class="row  animated fadeInDown">
    <div class="col-md-4 col-md-offset-4 text-center logo-margin ">
    <img src="<% if (typeof system_preferences !== 'undefined' && typeof system_preferences.main_logo_uuid !== 'undefined' && system_preferences.main_logo_uuid !== null && system_preferences.main_logo_uuid !== "") { %><%= backendDirectory %>/file/<%= system_preferences.main_logo_uuid %>?<%= Math.random(); %><% }else{ %>images/webcrm-logo.png<% } %>" STYLE="padding-bottom:15px;" alt=""/>
    </div>
    <div class="col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default  margin-btm5 ">                  
    <div class="panel-heading panel-black-bg">
    <h3 class="panel-title">Sign In</h3>
    </div>
    <div class="panel-body">
        				<form class="form-horizontal" id="loginform" action="<%= backendDirectory %>/validlogin" method="POST">
                            <fieldset>
                            	<% if (typeof queryStr.success !== 'undefined' && queryStr.success !== null && queryStr.success=="reset") {	%>
									<div class="alert alert-success alert-dismissable">
             							<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                						Your password has been changed successfully!
            						</div>
            					<%  }	%>
                            	<% if (typeof queryStr.error !== 'undefined' && queryStr.error !== null) {
    								if(queryStr.error=="no") {	%>
									<div class="alert alert-danger alert-dismissable">
             							<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                						Invalid login!
            						</div>
            						<% }
           							if(queryStr.error=="password") {	%>
										<div class="alert alert-danger alert-dismissable">
             								<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                							Invalid password!
            							</div>
            						<%	}
            					}	%>
                                <div class="form-group" style="margin:10px 0px;">
                                    <input class="form-control" placeholder="Username/E-mail" name="email" type="text" required autofocus>
                                </div>
                                <div class="form-group" style="margin:10px 0px;">
                                    <input class="form-control" placeholder="Password" name="password" type="password" required value="">
                                </div>
                                <!--<div class="checkbox"><label><input name="remember" type="checkbox" value="Remember Me">Remember Me </label></div>-->
                                
                                <button  class="btn btn-danger btn-color" style="WIDTH: 100%; font-size:17px; line-height: 27px;" type="submit" style="padding-top: 3px;">Login</button>
                                <p class="text-right"><small><a href="<%= backendDirectory %>/forgot_password"><em>forgot password?</em></a></small></p>
                            </fieldset>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

     <!-- Core Scripts - Include with every page -->
    <% include include/scripts-footer %>
	<script src="js/jquery.validate.js"></script>
	<script language="javascript">
	$(function () {
		// validate form on keyup and submit
		$("#loginform").validate({
			ignore: "",
			onkeyup: false,
			errorClass: 'error',
			validClass: 'valid',
			errorElement: "em",
			errorPlacement: function(error, element) {
				$(element).closest('div').append(error);
			},
			onfocusout: false,
			invalidHandler: function(form, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {                    
					validator.errorList[0].element.focus();
				}
			},
			rules: {
				email: { required: true },
				password: { required: true	}
			},
		});			
		
	});
	</script>
</body>
</html>

