<% include include/main-header %>

</head>
<body class="hold-transition skin-blue sidebar-mini">
	<!-- navbar top -->
   	<div class="wrapper">
   		<!-- Header Starts here-->
  		<% include include/header %>
  		<!-- Header Ends here-->
  	
  			<!-- Sidebar Starts Here-->
  			<% include include/sidebar %>
    		<!-- Sidebar Ends Here-->
    		
    		<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        System Template
        <small>Detail Page</small>
      </h1>
      <ol class="breadcrumb">
        <% include include/dashboard-breadcrumb %>
        <li class="active">System Template</li>
      </ol>
    </section>
    		<section class="content">
      			<div class="row">	
      			<div class="panel-body no-padding-top bg-white"> 
            					<% include include/display_returned_msg %>
            					
            					<form class="form-horizontal" action="<%= backendDirectory %>/save/system_template" method="POST" id="contentForm">
            						<input type="hidden" class="form-control" id="table_name" name="table_name" value="system_templates">
      								<input type="hidden" class="form-control" id="unique_field" name="unique_field" value="code">
      								<input type="hidden" class="form-control" id="editorField" name="editorField" value="<% if (typeof editorField !== 'undefined' && editorField !== null) { %><%= editorField %><% }else{ %>_id<% } %>">
      								<input type="hidden" class="form-control" id="editorValue" name="editorValue" value="<% if (typeof editorValue !== 'undefined' && editorValue !== null) { %><%= editorValue %><% } %>">
      								<input type="hidden" class="form-control" id="id" name="id" value="<% if (typeof contentObj._id !== 'undefined' && contentObj._id !== null) { %><%= contentObj._id %><% } %>">
            						<input type="hidden" class="form-control" id="data" name="data" value="">
            						
              						<div class="form-group">
                  						<label class="control-label col-md-2" for="">Code<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-4">
                   							<input type="text"  required="required" class="form-control col-md-5 col-xs-12" id="code" name="code" value="<% if (typeof contentObj.code !== 'undefined' && contentObj.code !== null) { %><%= contentObj.code %><% } %>">
                  						</div>
                  						
                  						<% if (typeof contentObj.code !== 'undefined' && contentObj.code !== null) { %>
                  						<div class="col-md-6 col-lg-4" style="padding-top:5px;overflow: hidden;">
                  							<a class="btn btn-primary btn-color margin-right-5 btn-sm" href="<%= backendDirectory %>/list/<%= contentObj.code %>" target="_blank">View Page</a>
                  						</div>
                  						<% } %>
                					</div>
                					<div class="form-group">
                  						<label class="control-label col-md-2" for="">Table<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-4">
                   							<select id="table" name="table" class="form-control col-md-5 col-xs-12" required="required">
                   								<option value="">--Select Table--</option>
                  								<% if (typeof collectionsArr !== 'undefined' && collectionsArr !== null && collectionsArr.length>=1) {
                  									for(var i=0; i< collectionsArr.length; i++){
                  								%>
                  								<option value="<%= collectionsArr[i] %>" <% if (typeof contentObj.table !== 'undefined' && contentObj.table !== null && contentObj.table == collectionsArr[i]) { %>selected<% } %>><%= collectionsArr[i] %></option>
                  								<%	}
                  								} %>
                    						</select>
                   						</div>
                   						<div class="col-md-6 col-lg-2">
                   							<a href="<%= backendDirectory %>/system_table" target="_blank" class="btn btn-primary btn-color margin-right-5 btn-sm" style="margin-top:5px;">Add a new table</a>
				  						</div>
                					</div>
                					<div class="form-group">
                  						<label class="control-label col-md-2" for="">Type <span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-4">
                   							<select class="form-control col-md-5 col-xs-12" id="template_type" name="template_type" required="required" onChange="__chooseDetailView()">
												<option value="list_view" <% if (typeof contentObj.table !== 'undefined' && contentObj.table !== null && contentObj.table == "list_view") { %>selected<% } %>	>List View</option>
											</select>
                  						</div>
                  						<label class="control-label col-md-1" for="">Page Title</label>
                  						
                  						<div class="col-md-4 col-lg-3">
                   							<input type="text"  class="form-control col-md-5 col-xs-12" id="page_title" name="page_title" value="<% if (typeof contentObj.page_title !== 'undefined' && contentObj.page_title !== null) { %><%= contentObj.page_title %><% } %>">
                  						</div>
                					</div>
                					<div class="form-group">
                  						<label class="control-label col-md-2" for="first-name">Add filename for Detail View/Editor</label>
                  						<div class="col-md-4">
                  							<select class="form-control" id="editor_filename" name="editor_filename"></select>
                  							<!--   <input type="text" value="" class="form-control col-md-5 col-xs-12" id="editor_filename" name="editor_filename">-->
                  						</div>
                  						<div class="col-md-2">
                   							<div class="checkbox" STYLE="">
      		  									<label> <input type="checkbox" id="status" name="status" value="1" <% if (typeof contentObj.status !== 'undefined' && contentObj.status !== null && contentObj.status == 1) { %>checked<% } %> > <strong style="font-weight:600">Active</strong></label>
    			  							</div>
				  						</div>
                  						<div class="col-md-4">
    										<div class="checkbox" STYLE="">
      		  									<label> <input type="checkbox" id="enable_editor" name="enable_editor" value="1" <% if (typeof contentObj.enable_editor !== 'undefined' && contentObj.enable_editor !== null && contentObj.enable_editor == 1) { %>checked<% } %> > <strong style="font-weight:600">Enable Editor</strong></label>
    			  							</div>
				  						</div>
                					</div>
                		<div class="form-group displayColumnsClass" style="display:none;">
                			<label class="control-label col-md-2" for="first-name">Open Detail View by</label>
                  			<div class="col-md-6 col-lg-4">
                   				<select class="form-control col-md-5 col-xs-12" id="editor_field" name="editor_field" >
                   					<option value="">-- Choose Field --</option>
									
								</select>
                  			</div> 
                  		</div>
                  				
                		<div class="form-group displayColumnsClass" style="display:none;">
                			<input type="hidden" class="form-control col-md-5 col-xs-12" id="search_columns" name="search_columns">
                			<input type="hidden" class="form-control col-md-5 col-xs-12" id="index_columns" name="index_columns">
                			<input type="hidden" required class="form-control col-md-5 col-xs-12" id="listing_columns" name="listing_columns">
                 			<label class="control-label col-md-2 tablefieldClass" for="">Display Columns</label>
                  			<div class="col-md-3 tablefieldClass" id="tablefieldClass">
                  				
                    		</div>
                		
                 			<label class="control-label col-md-2 searchColumnClass" for="">Search Columns</label>
                  			<div class="col-md-4 searchColumnClass" id="searchColumnClass">
                  				
                    		</div>
                		</div>
                		<div class="form-group displayColumnsClass" style="display:none;">
                  			<label class="control-label col-md-2 " for="first-name">Search Condition</label>
                  			<div class="col-md-6 col-lg-4">
                  				<select class="form-control col-md-5 col-xs-12 createQueryClass" id="search_condition" name="search_condition">
									<option value="and" <% if (typeof contentObj.search_condition !== 'undefined' && contentObj.search_condition !== null && contentObj.search_condition == "and") { %>selected<% } %>	>AND</option>
									<option value="or" <% if (typeof contentObj.search_condition !== 'undefined' && contentObj.search_condition !== null && contentObj.search_condition == "or") { %>selected<% } %>	>OR</option>
                    			</select>
                   			</div>
                		</div>
                					<div class="form-group">
                   						<div class="col-md-9 col-lg-6" align="CENTER">
               								<div class="submit-btn-setting"> <button type="submit" class="btn btn-primary btn-color margin-right-5 btn-sm save_exit">Submit</button>
               								<% if (typeof contentObj._id !== 'undefined' && contentObj._id !== null) {	%>
               									<a href="<%= backendDirectory %>/list/system_templates" class="btn btn-danger btn-sm">Cancel</a>
               								<%	}else{	%>
               									<button type="reset" class="btn btn-danger btn-sm">Reset</button>
               								<% } %>
               								</div>
               							</div>
                					</div>
              					</form>
              				</div>
              				<div class="col-sm-3  pull-right">
              					<ul id="DragWordList" runat="server">
              					<% 	if (typeof tokens !== 'undefined' && tokens !== null) {
                  						for(var i=0; i< tokens.length; i++){	%>
                  						<li><%= tokens[i].code %></li>
                  					<%	}
                  					}
                  				%>
                  				</ul>
              				</div>
            			</div>
      		</section>
    	</div>	
  		
	

<!-- Footer Starts Here-->
	<% include include/footer %>
<!-- Footer Ends Here-->


</div>
<!--//Main Content--> 
<!-- Page-Level Plugin Scripts-->
<script src="plugins/jquery-ui.min.js"></script>
<script src="js/jquery.validate.js"></script>
<script>
function returnAllCollections(){
	$("#table").html('');
	var jsonRow=backendDirectory+"/api_fetch_collections";
	var sVal="<% if (typeof contentObj.table !== 'undefined' && contentObj.table !== null) { %><%= contentObj.table %><% } %>";
		$.getJSON(jsonRow,function(aaData){
			var contentHtml="<option value=''>--Select--</option>";
			if(aaData.length>0){
				aaData.sort();
				$.each(aaData, function(i,row){
					contentHtml+="<option value='"+row+"' ";
					if(sVal==row){
						contentHtml+="selected";
					}
					contentHtml+=" >"+row+"</option>";
				});
     		}
			$("#table").html(contentHtml);
			<% if (typeof contentObj._id !== 'undefined' && contentObj._id !== null) { %>
				table_options();
			<% } %>
		});
}

function __chooseDetailView(){
	var e=$("#template_type").val();
	if(e=="list_view"){
		$(".ChooseDetailView").show();
	}else{
		$(".ChooseDetailView").hide();
	}
}

function table_options(){
	if($('#table').val()!=""){
		$.getJSON("<%= backendDirectory %>/fetchTableColumns?e="+$('#table').val(),function(response){
			if(response.error){
				$(".displayColumnsClass").hide();
				$("#tablefieldClass").html("");
				$("#editor_field").html("");
				$("#searchColumnClass").html("");
			}else{
				var table_fieldhtmlStr="", searchColumnsStr="", selectedEditField="" , editorFieldsStr="<option value=''> --Select Field-- </option>";
				var selectedListArr= new Array(), selectedSearchArr= new Array(), searchClauseArr= new Array();
				
				table_fieldhtmlStr='<div class="checkbox"><label ><input type="checkbox" class="createQueryClass" value="" id="all_list_field"> <strong style="font-weight:600">Select all</strong></label></div>';
				searchColumnsStr='<div class="checkbox"><label ><input type="checkbox" class="createQueryClass" value="" id="all_search_field" > <strong style="font-weight:600">Select all</strong></label></div>';
					
				<% if (typeof contentObj.listing_columns !== 'undefined' && contentObj.listing_columns !== null && contentObj.listing_columns !== "") { %>
					var listing_columns="<%= contentObj.listing_columns %>";
					selectedListArr= listing_columns.split(',');
				<% } %>
				
				<% if (typeof contentObj.search_columns !== 'undefined' && contentObj.search_columns !== null && contentObj.search_columns !== "") { %>
					var tempselectedSearchArr=<%- JSON.stringify(contentObj.search_columns) %>;
					if(typeof(tempselectedSearchArr)=="object" || typeof(tempselectedSearchArr)=="array"){
						var selectedSearchArr = tempselectedSearchArr;
					}	else	{
						var selectedSearchArr = JSON.parse(tempselectedSearchArr);
					}
				<% } %>
				
				<% if (typeof contentObj.editor_field !== 'undefined' && contentObj.editor_field !== null && contentObj.editor_field !== "") { %>
					selectedEditField="<%= contentObj.editor_field %>";
				<% } %>
				
				$.each(response, function(i,col){
					editorFieldsStr+="<option value='"+col+"'"
					if(col==selectedEditField){
						editorFieldsStr+=' selected ';
					}
					editorFieldsStr+=">"+col+"</option>";
					var listcheckedStr="", searchcheckedStr="", searchClauseStr="";
					if ((selectedListArr.length)>0 && ($.inArray(col, selectedListArr) >=0)) {
         				listcheckedStr="checked";
        			}
        			        			
        			if (selectedSearchArr.length>0) {
						for(var i=0; i< selectedSearchArr.length; i++){
							$.each( selectedSearchArr[i], function( key, value ) {
								if(key==col){
									searchcheckedStr="checked";
									searchClauseStr=value;
								}
  								//console.log( key + ": " + value );
							});
						}
					}
        			
					table_fieldhtmlStr+='<div class="checkbox"><label ><input type="checkbox" '+listcheckedStr+' id="list_fields_'+col+'" value="'+col+'" class="list_fields createQueryClass" > <strong style="font-weight:600">'+col+'</strong></label></div>';
					searchColumnsStr+='<div class="checkbox col-md-6"><label ><input type="checkbox" '+searchcheckedStr+' value="'+col+'" id="search_fields_'+col+'" class="search_fields createQueryClass" > <strong style="font-weight:600">'+col+'</strong></label></div>';
					searchColumnsStr+='<div class="col-md-6 col-xs-12" style="margin-bottom:10px;"><select  class="form-control createQueryClass" id="'+col+'_clause">';
					searchColumnsStr+='<option value="contains"';
					if(searchClauseStr=="contains"){
						searchColumnsStr+=' selected ';
					}
					searchColumnsStr+='>Contains</option>';
					searchColumnsStr+='<option value="="';
					if(searchClauseStr=="="){
						searchColumnsStr+=' selected ';
					}
					searchColumnsStr+='>Is</option>';
					searchColumnsStr+='<option value="!="';
					if(searchClauseStr=="!="){
						searchColumnsStr+=' selected ';
					}
					searchColumnsStr+='>!=</option>';
					searchColumnsStr+='<option value="starts_with"';
					if(searchClauseStr=="starts_with"){
						searchColumnsStr+=' selected ';
					}
					searchColumnsStr+='>Starts with</option>';
					searchColumnsStr+='<option value="ends_with"';
					if(searchClauseStr=="ends_with"){
						searchColumnsStr+=' selected ';
					}
					searchColumnsStr+='>Ends with</option>';
                	searchColumnsStr+='</select></div>';
				});
				
				$(".displayColumnsClass").show();
				$("#tablefieldClass").html(table_fieldhtmlStr);
				$("#editor_field").html(editorFieldsStr);
				$("#searchColumnClass").html(searchColumnsStr);
			}
			
		});
	}
}

function returnExistingEditorForms(){
	var optionStr = '<option value="">--Select--</option>';
	var selectedVal ='<% if (typeof contentObj.editor_filename !== 'undefined' && contentObj.editor_filename !== null) { %><%= contentObj.editor_filename %><% } %>';
	
	$.getJSON("<%= backendDirectory %>/return_static_files",function(response){
		if (typeof response.aaData !== "undefined" && response.aaData !== null  && response.aaData != "") { 	
			try{
				var list_items = JSON.parse(response.aaData); 
        	}	catch (error){
       			var list_items = response.aaData; 
    		} 
			for(var i=0; i< list_items.length; i++){
				if(list_items[i]!=".DS_Store" && list_items[i]!="css" && list_items[i]!="js" && list_items[i]!="fonts" && list_items[i]!="images" && list_items[i]!="scripts" && list_items[i]!="include" && list_items[i]!="img" && list_items[i]!="system_form.ejs" && list_items[i]!="default_system.ejs"){
					var pageContentHtml = list_items[i].replace(".ejs", "");
					optionStr += '<option value="'+pageContentHtml+'"';
					if(selectedVal==pageContentHtml){
						optionStr += ' selected ';
					}
					optionStr += '>'+pageContentHtml+'</option>';
				}
			}
		}	
		$("#editor_filename").html(optionStr);								
	});
}

$(document).ready(function() {
	returnExistingEditorForms();
	
	returnAllCollections();
	$("#template_type").trigger('change');
	
	$(document).on("click","#all_list_field",function(e){
		if( $('#all_list_field:checked').length ){
			$('.list_fields').prop('checked', true);
		}else{
			$('.list_fields').prop('checked', false);
		}
		populateListingColumnsField();
	});
	
	$(document).on("click","#all_search_field",function(e){
		if( $('#all_search_field:checked').length ){
			$('.search_fields').prop('checked', true);
		}else{
			$('.search_fields').prop('checked', false);
		}
	});	
	
	$(document).on("click",".search_fields",function(e){
		$('.search_fields').each(function(){
			var valStr= $(this).val();
			if( $('#search_fields_'+valStr+':checked').length ){

			}else{
				$('#all_search_field').prop('checked', false);
			}
		});
	});	
	
	$(document).on("click",".list_fields",function(e){
		populateListingColumnsField();
	});	
	$('#table').change(function(){
		table_options();
	});		
	
	// validate form on keyup and submit
		$("#contentForm").validate({
			ignore: "",
			onkeyup: false,
			errorClass: 'error',
			validClass: 'valid',
			errorElement: "em",
			errorPlacement: function(error, element) {
				if (element.attr("id") == "listing_columns" ) {
					$("#tablefieldClass").append(error);
				}else{
					$(element).closest('div').append(error);
				}
			},
			onfocusout: false,
			invalidHandler: function(form, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {                    
					validator.errorList[0].element.focus();
				}
			},
			rules: {
				code: { required: true },
				table: { required: true },
				template_type: { required: true },
				listing_columns : { required: true }
			},
			messages : {
				listing_columns: "Please select columns to display on list page",
			},
			submitHandler: function(form) {
				var submitFormBool= true;
				if($('#enable_editor').is(':checked')){
					if($("#editor_filename").val()!=""){
						submitFormBool= true;
					}else{
						submitFormBool = false;
 						$("#editor_filename").focus();
 						$("#contentForm").before('<div class="alert alert-danger">Please select editor file name!</div>');
 					}
 				}
 				if(submitFormBool){
				var selectedSearchFieldsArr=new Array;
				var selectedIndexFieldsArr=new Array;
				var i=0;
				$('.search_fields').each(function(){
					var valStr= $(this).val();
					if( $('#search_fields_'+valStr+':checked').length ){
						var searchClause= $("#"+valStr+"_clause").val();
						var searchObj={};
						searchObj[valStr]= searchClause;
						selectedSearchFieldsArr[i]= searchObj;
						selectedIndexFieldsArr[i]=valStr;
						i++;
					}
				});
				var selectedSearchFieldsStr= JSON.stringify(selectedSearchFieldsArr);
				$("#search_columns").val(selectedSearchFieldsStr);
		
				$("#index_columns").val(JSON.stringify(selectedIndexFieldsArr));
		
				populateListingColumnsField();
				
				//save data as json in data field, use dataAsJson function to populate that field
 				dataAsJson('contentForm', form);
 				}
 			}
		});	
});
function populateListingColumnsField(){
	var j=0;
	var selectedListFieldsArr=new Array();
	$('.list_fields').each(function(){
		var valStr= $(this).val();
		if( $('#list_fields_'+valStr+':checked').length ){
			selectedListFieldsArr[j]= valStr;
			j++;
		}
	});
	var selectedListFieldsStr= selectedListFieldsArr.join();
	$("#listing_columns").val(selectedListFieldsStr);
}

</script>
</body>
</html>