<% include include/main-header %>
<link rel="stylesheet" href="plugins/combobox/autocomplete-ui.css"/>
<link rel="stylesheet" href="css/chosen.css">
<link rel="stylesheet" href="css/jquery.tag-editor.css">
<link href="css/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet">
<style>
.custom-combobox {
		position: relative;
		display: inline-block;
	}
	.custom-combobox-toggle {
		position: absolute;
		top: 0;
		bottom: 0;
		margin-left: -1px;
		padding: 0;
	}
	.custom-combobox-input {
		margin: 0;
		padding: 5px 10px;
	}
	.ui-widget-overlay {
		position: fixed;
	}
	.box-primary h4 {
    border-bottom: 1px solid #ddd;
    border-radius: 3px;
    font-size: 20px;
    margin: 7px 5px 0 0;
    padding: 9px;
}
.btn-bs-file{
    position:relative;
}
.btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
	
    cursor: inherit;
}
</style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
   	<div class="wrapper">
   		<!-- Header Starts here-->
  		<% include include/header %>
  		<!-- Header Ends here-->
  		
  		<!-- Sidebar Starts Here-->
  			<% include include/sidebar %>
    		<!-- Sidebar Ends Here-->
    		
    	<div class="content-wrapper">
    	  	<!-- Content Header (Page header) -->
    		<section class="content-header">
      			<h1>User <small><% if (typeof contentObj.firstname !== 'undefined' && contentObj.firstname !== null) { %><%= contentObj.firstname %><% } else{	%>Add new<% }%></small></h1>
      			<ol class="breadcrumb">
        			<% include include/dashboard-breadcrumb %>
        			<li class="active">User</li>
      			</ol>
    		</section>	
    		<section class="content">
      			<div class="row">
      				<div class="panel-body no-padding-top bg-white">
      					<% include include/display_returned_msg %>
            			<form class="form-horizontal" action="<%= backendDirectory %>/save/user" method="POST" id="contentForm">
      					<div class="nav-tabs-custom">
      						<ul class="nav nav-tabs pull-left">
            					<li class="active"><a href="#first" data-toggle="tab">Details</a></li>
            					<% if (typeof contentObj._id !== 'undefined' && contentObj._id !== null) { %>
            						<% if (typeof contentObj.user_type !== 'undefined' && contentObj.user_type !== null && contentObj.user_type == "member") { %>
            							<li class="clubUIClass" style="display:none;"><a href="#second" data-toggle="tab">Membership fee details</a></li>
            						<% } %>
            					<li><a href="#third" data-toggle="tab">Avalability</a></li>
            					<% } %>
							</ul>
							<div class="tab-content ">
								
								<div class="chart tab-pane active" id="first" ><div STYLE="margin-top:10px;">
            					
            						<input type="hidden" class="form-control" id="editorField" name="editorField" value="<% if (typeof editorField !== 'undefined' && editorField !== null) { %><%= editorField %><% }else{ %>_id<% } %>">
      								<input type="hidden" class="form-control" id="editorValue" name="editorValue" value="<% if (typeof editorValue !== 'undefined' && editorValue !== null) { %><%= editorValue %><% } %>">
      								<input type="hidden" class="form-control" id="data" name="data" value="">
            						<input type="hidden" class="form-control" id="table_name" name="table_name" value="users">
      								<input type="hidden" class="form-control" id="unique_field" name="unique_field" value="email">
      								<input type="hidden" class="form-control" id="id" name="id" value="<% if (typeof contentObj._id !== 'undefined' && contentObj._id !== null) { %><%= contentObj._id %><% } %>">
            						<input type="hidden" class="form-control" id="uploaded_file_uuid" name="uploaded_file_uuid" value="<% if (typeof contentObj.uploaded_file_uuid !== 'undefined' && contentObj.uploaded_file_uuid !== null) { %><%= contentObj.uploaded_file_uuid %><% } %>">
            						<input type="hidden" class="form-control" id="uploaded_file_name" name="uploaded_file_name" value="<% if (typeof contentObj.uploaded_file_name !== 'undefined' && contentObj.uploaded_file_name !== null) { %><%= contentObj.uploaded_file_name %><% } %>">
            		
                					<div class="row">
            						<div class="col-xs-12 col-md-6"><div class="box box-primary">
            						<h4>Basic Details</h4>
            						<div class="box-body"><div class="row"><div class=" col-sm-12 col-lg-12">
            						<div class="col-xs-12 col-md-8">                 					
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="first-name">Username<span class="required">*</span></label>
                  						<div class="col-md-9 col-lg-9">
                    						<input type="text" readonly required="required" id="username" name="username" class="form-control col-md-5 col-xs-12" value="<% if (typeof contentObj.username !== 'undefined' && contentObj.username !== null) { %><%= contentObj.username %><% } %>">
                  						</div>
                					</div>
                					
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="first-name">First Name<span class="required">*</span></label>
                  						<div class="col-md-9 col-lg-9">
                    						<input type="text" required="required" id="firstname" name="firstname" class="form-control col-md-5 col-xs-12" value="<% if (typeof contentObj.firstname !== 'undefined' && contentObj.firstname !== null) { %><%= contentObj.firstname %><% } %>">
                  						</div>
                					</div>
                					
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="">Last Name<span class="required">*</span></label>
                  						<div class="col-md-9 col-lg-9">
                   							<input type="text"  required="required" class="form-control col-md-5 col-xs-12" id="lastname" name="lastname" value="<% if (typeof contentObj.lastname !== 'undefined' && contentObj.lastname !== null) { %><%= contentObj.lastname %><% } %>">
                  						</div>
                					</div>
                					</div><div class="col-xs-12 col-md-4" align="center">
                						<div class="form-group">
    										<div class="col-sm-12">
    											<img src="<% if (typeof contentObj.uploaded_file_uuid !== 'undefined' && contentObj.uploaded_file_uuid !== null) { %><%= backendDirectory %>/file/<%= contentObj.uploaded_file_uuid %>?<%= Math.random(); %><% }else{ %>img/no-avatar.jpg<% } %>" class="img-responsive img-circle" id="user_profile_pic" style="border:1px solid #ddd;" width="50%" onerror="this.src='img/no-avatar.jpg'"/>
    										</div>
  										</div>
                						<div class="form-group">
                							<input type="file" id="file" value="">
    									</div>
                					</div>
                					<div class="col-xs-12 col-md-12">
                					<div class="form-group">
                  						<label class="control-label col-md-2" for="">DOB</label>
                  						<div class="col-md-5 col-lg-5">
                   							<input type="hidden" id="dob" name="dob" readonly value="<% if (typeof contentObj.dob !== 'undefined' && contentObj.dob !== null) { %><%= contentObj.dob %><% } %>">
                   							<div class='input-group date' id='datetime_picker'>
                    							<input type='text' class="form-control" id="date_of_birth" value=""/>
                    							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                							</div>	
                  						</div>
                  						<label class="control-label col-md-2 ageClass" style="display:none;">Age</label>
                  						<div class="col-md-2 col-lg-2 ageClass"  style="display:none;">
                   							<input type="text" class="form-control col-md-5 col-xs-12" readonly id="age" value="">
                  						</div>
                					</div>
                					<div class="form-group">
    									<label for="" class="col-sm-2 control-label">Gender</label>
    									<div class="col-sm-9">
    										<div class="radio" STYLE="float:left; margin-right:10px;">
      		  									<label> <input type="radio" id="gender" name="gender" value="f" <% if (typeof contentObj.gender !== 'undefined' && contentObj.gender !== null && contentObj.gender == "f") { %>checked<% } %> > <strong style="font-weight:600">Female</strong></label>
    			  							</div>
				  							<div class="radio" STYLE="float:left;">
      		  									<label> <input type="radio" id="gender" name="gender" value="m" <% if (typeof contentObj.gender !== 'undefined' && contentObj.gender !== null && contentObj.gender == "m") { %>checked<% } %> > <strong style="font-weight:600">Male</strong></label>
    			  							</div>
										</div>
									</div>
                					<div class="form-group">
                  						<label class="control-label col-md-2" for="">Email <span class="required">*</span></label>
                  						<div class="col-md-9 col-lg-9">
                   							<input type="email"  required="required" class="form-control col-md-5 col-xs-12" id="email" name="email" value="<% if (typeof contentObj.email !== 'undefined' && contentObj.email !== null) { %><%= contentObj.email %><% } %>">
                  						</div>
                					</div>
                					<% if (typeof contentObj._id !== 'undefined' && contentObj._id !== null) { %>
                						<div class="form-group">
                  							<label class="control-label col-md-2" for="">Password<span class="required">*</span></label>
                  							<div class="col-md-6">
                   								<input type="password"  required="required" class="form-control col-md-5 col-xs-12" id="password" name="password" value="" disabled>
                  							</div>
                  							<div class="checkbox" STYLE="float:left; margin-right:10px;">
      		  									<label> <input type="checkbox" id="change_password" value="1" > <strong style="font-weight:600">Change Password</strong></label>
    			  							</div>
                						</div>
                							
                					<% }else{	%>
                					<div class="form-group">
                  						<label class="control-label col-md-2" for="">Password<span class="required">*</span></label>
                  						<div class="col-md-9 col-lg-9">
                   							<input type="password"  required="required" class="form-control col-md-5 col-xs-12" id="password" name="password" value="">
                  						</div>
                					</div>
                					<% } %>											
                					</div>        					
                            		</div></div>
                            		</div></div></div>
							        
                					<div class="col-xs-12 col-md-6"><div class="box box-primary">
            						<h4>Contact Details</h4>
            						<div class="box-body"><div class="row"><div class=" col-sm-12 col-lg-11">
            						
            						<div class="form-group">
                  						<label class="control-label col-md-3" for="">Contact number</label>
                  						<div class="col-md-6 col-lg-7">
                   							<input type="text" class="form-control col-md-5 col-xs-12" id="mobile" name="mobile" value="<% if (typeof contentObj.mobile !== 'undefined' && contentObj.mobile !== null) { %><%= contentObj.mobile %><% } %>">
                  						</div>
                					</div>
                							
                					<div class="form-group">
    									<label for="" class="col-sm-3 control-label">Address Line 1</label>
    									<div class="col-sm-9">
    										<textarea name="address_line_1" id="address_line_1" class="form-control"><% if (typeof contentObj.address_line_1 !== 'undefined' && contentObj.address_line_1 !== null) { %><%= contentObj.address_line_1  %><% } %></textarea>
      		  							</div>
									</div>
                					
                					<div class="form-group">
    									<label for="" class="col-sm-3 control-label">Address Line 2</label>
    									<div class="col-sm-9">
    										<textarea name="address_line_2" id="address_line_2" class="form-control"><% if (typeof contentObj.address_line_2 !== 'undefined' && contentObj.address_line_2 !== null) { %><%= contentObj.address_line_2  %><% } %></textarea>
      		  							</div>
									</div>
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="">County/State</label>
                  						<div class="col-md-6 col-lg-7">
                   							<input type="text" class="form-control col-md-5 col-xs-12" id="state" name="state" value="<% if (typeof contentObj.state !== 'undefined' && contentObj.state !== null) { %><%= contentObj.state %><% } %>">
                  						</div>
                					</div>
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="">Postcode</label>
                  						<div class="col-md-6 col-lg-7">
                   							<input type="text" class="form-control col-md-5 col-xs-12" id="postcode" name="postcode" value="<% if (typeof contentObj.postcode !== 'undefined' && contentObj.postcode !== null) { %><%= contentObj.postcode %><% } %>">
                  						</div>
                					</div>
                					
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="first-name">Country</label>
                  						<div class="col-md-3 col-lg-7">
                  							<select id="country" name="country" class="form-control">
                    						
                    						</select>
                  						</div>
                					</div>
                					                					
                            		</div></div>
                            		</div></div></div>
                					</div>
                					<div class="row">
            						
                					<div class="col-xs-12 col-md-6"><div class="box box-primary">
							        <h4>Access Control</h4>
            						<div class="box-body"><div class="row"><div class=" col-sm-12 col-lg-12">
            						<div class="form-group clubUIClass" style="display:none;">
                  						<label class="control-label col-md-3" for="first-name">Club<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-7 autocomplete">
                    						<select id="club_mongo_id" name="club_mongo_id" class="form-control">
                  								
                  							</select>
                    					</div>
                    					<input type="hidden" class="form-control" id="club_name" name="club_name" value="<% if (typeof contentObj.club_name !== 'undefined' && contentObj.club_name !== null) { %><%= contentObj.club_name %><% } %>">
                					</div>
                					
            						<% if (typeof authenticatedUser.access_right !== 'undefined' && authenticatedUser.access_right !== null  && authenticatedUser.access_right == "11"  && authenticatedUser.access_right == 11) {	%>
            						<div class="form-group">
                  						<label class="control-label col-md-3" for="first-name">Default Systems<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-7 autocomplete">
                    						<select id="uuid_default_system" name="uuid_default_system" class="form-control">
                  								
                  							</select>
                    					</div>
                					</div>
            						<div class="form-group">
                  						<label class="control-label col-md-3" for="first-name">Assign Systems<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-7">
                    						<input name="shared_systems" type="hidden" value="" id="shared_systems">
                  							<select id="select_systems" name="select_systems" multiple="multiple" class="chosen-select form-control"></select>
                    					</div>
                					</div>
                					<% } %>
							       	<div class="form-group">
    									<label for="" class="col-sm-3 control-label">Access Right Code</label>
    									<div class="col-sm-9">
    										<div class="radio" STYLE="float:left; margin-right:10px;">
      		  									<label> <input type="radio" id="access_right" name="access_right" value="1" <% if (typeof contentObj.access_right !== 'undefined' && contentObj.access_right !== null && contentObj.access_right == 1 && contentObj.access_right == "1") { %>checked<% } %> > <strong style="font-weight:600">ReadWrite</strong></label>
    			  							</div>
				  							<div class="radio" STYLE="float:left;">
      		  									<label> <input type="radio" id="access_right" name="access_right" value="0" <% if (typeof contentObj.access_right !== 'undefined' && contentObj.access_right !== null && contentObj.access_right == 0 && contentObj.access_right == "0") { %>checked<% } %> > <strong style="font-weight:600">ReadOnly</strong></label>
    			  							</div>
    			  							<% if (typeof authenticatedUser.access_right !== 'undefined' && authenticatedUser.access_right !== null  && authenticatedUser.access_right == "11"  && authenticatedUser.access_right == 11) {	%>
            								<div class="radio" STYLE="float:left;">
      		  									<label> <input type="radio" id="access_right" name="access_right" value="11" <% if (typeof contentObj.access_right !== 'undefined' && contentObj.access_right !== null && contentObj.access_right == 11 && contentObj.access_right == "11") { %>checked<% } %> > <strong style="font-weight:600">Admin</strong></label>
    			  							</div>
    			  							<% } %>
										</div>
									</div>
									<div class="form-group">
    									<label for="" class="col-sm-3 control-label"></label>
    									<div class="col-sm-9">
    										<input type="hidden" id="allow_web_access" name="allow_web_access" value="<% if (typeof contentObj.allow_web_access !== 'undefined' && contentObj.allow_web_access !== null) { %><%= contentObj.allow_web_access %><% } else{	%>0<% } %>">
    										<input type="hidden" id="send_notifications" name="send_notifications" value="<% if (typeof contentObj.send_notifications !== 'undefined' && contentObj.send_notifications !== null) { %><%= contentObj.send_notifications %><% } %>">
    										
    										<div class="checkbox">
      		  									<label><input type="checkbox" id="web_access" <% if (typeof contentObj.allow_web_access !== 'undefined' && contentObj.allow_web_access !== null && contentObj.allow_web_access == 1  && contentObj.allow_web_access == "1") { %>checked<% } %>> Allow web access</label>
      		  									<label style="margin-left:5px;"><input type="checkbox" id="notifications" <% if (typeof contentObj.send_notifications !== 'undefined' && contentObj.send_notifications !== null && contentObj.send_notifications == "on") { %>checked<% } %>> Notifications</label>
      		  								</div>
										</div>
									</div>
                					<div class="form-group">
    									<label for="" class="col-sm-3 control-label">Status</label>
    									<div class="col-sm-9">
    										<div class="radio" STYLE="float:left; margin-right:10px;">
      		  									<label> <input type="radio" id="status" name="status" value="1" <% if (typeof contentObj.status !== 'undefined' && contentObj.status !== null && contentObj.status == 1) { %>checked<% } %> > <strong style="font-weight:600">Active</strong></label>
    			  							</div>
				  							<div class="radio" STYLE="float:left;">
      		  									<label> <input type="radio" id="status" name="status" value="0" <% if (typeof contentObj.status !== 'undefined' && contentObj.status !== null && contentObj.status == 0) { %>checked<% } %> > <strong style="font-weight:600">Inactive</strong></label>
    			  							</div>
										</div>
									</div>
									<% if (typeof contentObj._id !== 'undefined' && contentObj._id !== null && typeof authenticatedUser.access_right !== 'undefined' && authenticatedUser.access_right !== null  && authenticatedUser.access_right == "11"  && authenticatedUser.access_right == 11) { %>
                					<div class="form-group">
                						<label for="" class="col-md-3">Assigned Groups</label>
                						<div class="col-md-8">
                							<input type="text" class="form-control col-md-5 col-xs-12" id="assigned_groups" value="" readonly>
                  						</div>
                  					</div>
  									<div class="form-group">
  										<label for="" class="col-md-3"></label>
  										<div class="col-md-3">
                    						<a class="btn btn-danger" href="/webcrm/list/groups" target="_blank">Assign group to <% if (typeof contentObj.firstname !== 'undefined' && contentObj.firstname !== null) { %><%= contentObj.firstname %><% } %></a>
  										</div>
  										<div class="col-md-6" style="padding-top:10px;"><span style="font-style:italic;font-size:11px;">Assign this user to a group, so to get access of this system</span></div>
                    				</div>
                					<% } %>
									</div></div>
                					</div></div></div>
                					<div class="col-xs-12 col-md-6 clubUIClass" style="display:none;"><div class="box box-primary">
            						<h4>Types & Qualities</h4>
            						<div class="box-body"><div class="row"><div class=" col-sm-12 col-lg-11">
            						 <div class="form-group">
                  						<label class="control-label col-md-3" for="first-name">Type</label>
                  						<div class="col-md-3 col-lg-7">
                  							<select id="user_type" name="user_type" class="form-control">
                    							<option value="admin" <% if (typeof contentObj.user_type !== 'undefined' && contentObj.user_type !== null && contentObj.user_type == "admin") { %>selected<% } %>>Backend Administrator</option>
                    							<option value="member" <% if (typeof contentObj.user_type !== 'undefined' && contentObj.user_type !== null && contentObj.user_type == "member") { %>selected<% } %>>Member</option>
                    							<option value="employer" <% if (typeof contentObj.user_type !== 'undefined' && contentObj.user_type !== null && contentObj.user_type == "employer") { %>selected<% } %>>Employer</option>
                    						</select>
                  						</div>
                					</div>               					
                					
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="first-name">Player Type</label>
                  						<div class="col-md-3 col-lg-7">
                  							<input id="player_type" name="player_type" value="<% if (typeof contentObj.player_type !== 'undefined' && contentObj.player_type !== null) { %><%= contentObj.player_type %><% } %>" type="hidden">
                    						<select id="player_type_uuid" name="player_type_uuid" class="form-control">
                    						
                    						</select>
                  						</div>
                					</div>
                					
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="player_qualities">Qualities</label>
                  						<div class="col-md-3 col-lg-7">
                  							<input type="hidden" class="form-control" id="player_qualities" name="player_qualities" value="">
                    						<textarea id="selected_qualities" class="form-control">
                    						
                    						</textarea>
                  						</div>
                					</div>
                            		</div></div>
                            		</div></div></div>
                					</div>
                					
              					
              					</div></div>
              					<% if (typeof contentObj._id !== 'undefined' && contentObj._id !== null) { %>
              					<% if (typeof contentObj.user_type !== 'undefined' && contentObj.user_type !== null && contentObj.user_type == "member") { %>
              					<div class="chart tab-pane clubUIClass" id="second" style="display:none;">
              						<div class="row" STYLE="margin-top:10px;">
              							<div class="form-group">
                  							<label class="control-label col-md-2" for="">Fee to be paid</label>
                  							<div class="col-md-6 col-lg-5">
                   								<select class="form-control" id="membership_type" name="membership_type">
                   									<option value="">--Select--</option>
                   									<option value="half-yearly" <% if (typeof contentObj.membership_type !== 'undefined' && contentObj.membership_type !== null && contentObj.membership_type == "half-yearly") { %>selected<% } %>>6 months</option>
                   									<option value="yearly" <% if (typeof contentObj.membership_type !== 'undefined' && contentObj.membership_type !== null && contentObj.membership_type == "yearly") { %>selected<% } %>>Annually</option>
                   								</select>
                  							</div>
                						</div>
                						<div class="form-group">
                  							<label class="control-label col-md-2" for="">Fee to be paid</label>
                  							<div class="col-md-6 col-lg-5">
                   								<input type="text" class="form-control col-md-5 col-xs-12" id="membership_fee" name="membership_fee" value="<% if (typeof contentObj.membership_fee !== 'undefined' && contentObj.membership_fee !== null) { %><%= contentObj.membership_fee %><% } %>">
                  							</div>
                  							<div class="col-sm-3">
							 					<button type="button" class="btn btn-primary btn-color margin-right-5 btn-sm" onClick="notifyUserToPay('<%= contentObj._id %>'); return false;">Notify User to pay membership fee</button>
							 				</div>
                						</div>
                						<div class="form-group" id="amount_paidDiv">
                  							<label class="control-label col-md-2" for="">Fee Paid On</label>
                  							<div class="col-md-3">
                  								<div class='input-group date' id='paid_datetime_picker'>
                    								<input type='text' class="form-control" id="paid_date" value=""/>
                    								<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                								</div>
                   							</div>
                  							<label class="control-label col-md-1" for="">Amount paid</label>
                  							<div class="col-md-3">
                   								<input type="text" class="form-control col-md-5 col-xs-12" id="new_amount_paid" value="">
                  							</div>
                  							<div class="col-sm-3">
							 					<button type="button" class="btn btn-primary btn-color margin-right-5 btn-sm" onClick="payMemberShip('<%= contentObj._id %>'); return false;">Save</button>
							 				</div>
                						</div>
              						</div>
              					</div>
              					<% } %>
              					<div class="chart tab-pane" id="third" >
              						<div class="row" STYLE="margin-top:10px;" id="loadAvailabilityDiv">
              								
              						</div>
              						<div style="text-align:center;display:none;" id="display_more_btn">
										<a style="width: 60%; margin-bottom: 10px;" class="btn palette-carrot btn-warning" title="Load more" onclick="load_more_ava()" href="javascript:void(0);">
											Load more
										</a>
        							</div>
        							<div style="text-align:center" id="img_loading_div">
										Loading...<br /> <img id="imgAjaxLoading" src="img/loading.gif" width="109" height="25" style="border-width: 0px;">
									</div>
              					</div>
              					<% } %>
              					
              				</div>
              			</div>
              			
              			<div class="row">
            				<div class="form-group">
            					<div class="col-md-12 col-lg-12" align="center">
               						<div class="submit-btn-setting"> <button type="submit" class="btn btn-primary btn-color margin-right-5 btn-sm">Submit</button>
               							<% if (typeof contentObj._id !== 'undefined' && contentObj._id !== null) {	%>
               								<a href="<%= backendDirectory %>/list/users" class="btn btn-danger btn-sm">Cancel</a>
               							<%	}else{	%>
               								<button type="reset" class="btn btn-danger btn-sm">Reset</button>
               							<% } %>
               						</div>
               					</div>
                			</div>
                		</div>
                					
              			</form>
              		</div>
      			</div>
    		</section>
    		<!--//body content--> 
  		</div>
<!-- modal box start -->
<div class="modal fade" id="processingPrompt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-body" style="text-align:center" >
                <h4>Uploading image, please wait and don't refresh the page while processing!</h4>.<br /> <img id="imgAjaxLoading" src="img/loading.gif" width="109" height="25" style="border-width: 0px;">
            </div>
        </div>
    </div>
</div>
<!-- modal box end -->		

<!-- Footer Starts Here-->
	<% include include/footer %>
<!-- Footer Ends Here-->
<!--//Main Content--> 
	</div>
<!-- Page-Level Plugin Scripts-->
<script src="plugins/combobox/autocomplete-ui.js"></script>
<script src="js/chosen.jquery.js" type="text/javascript"></script>
<script src="js/jquery.validate.js"></script>
<script src="js/jquery.tag-editor.min.js"></script>
<script src="js/jquery.caret.min.js"></script>
<script src="js/moment.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
<script>
var pageSize=5, totalAvaNum=0, startAva=0, endAva=pageSize;

var configDropDown = {
	'.chosen-select'           : {},
	'.chosen-select-deselect'  : {allow_single_deselect:true},
	'.chosen-select-no-single' : {disable_search_threshold:10},
	'.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
	'.chosen-select-width'     : {width:"95%"}
}
function load_uploaded_image(){
	var defaultImageStr= 'img/no-avatar.jpg';
	if($("#uploaded_file_uuid").val()!="")	{
		defaultImageStr = backendDirectory+"/file/"+$("#uploaded_file_uuid").val()+'?'+$.now();
	}
	$("#user_profile_pic").attr("src", defaultImageStr);
}
function get_unique_username (){
	if($("#username").val()==""){
		var jsonRow=backendDirectory+"/api_unique_username?firstname="+$("#firstname").val()+'&lastname='+$("#lastname").val();
		$.getJSON(jsonRow,function(dataResponse){
			if(dataResponse.success){
				var tempStr=dataResponse.success;
			} else	{
				var tempStr=$("#firstname").val()+"."+$("#lastname").val()+Math.floor(100 + Math.random() * 900);
			}
			$("#username").val(tempStr);
		});
	}
}

function notifyUserToPay(e){
	 var postContentURL=backendDirectory+"/notifyUser";
   		$.ajax({
			type: "POST",
			dataType: "json",
			url: postContentURL,
			data: {"collection" : "membership_fee_details", "collection_id": e, "user_id" : $("#id").val(), "notification_type" : "membership_fee"},
			success: function(response){
				load_payments();
			}
		});
}

function load_more_ava(){
	$('#display_more_btn').hide();
	$('#img_loading_div').show();
	if(startAva==0)	{
		startAva=endAva+1;
	} else{
		startAva=endAva;
	}
	endAva=startAva+pageSize;
	load_availability();
}
function load_availability(){
	var id=$("#id").val();
	var loggedInUserID= "";
	
	<% if (typeof authenticatedUser._id !== 'undefined' && authenticatedUser._id !== null) {	%>
		loggedInUserID= "<%= authenticatedUser._id %>";
		loggedInUserID=loggedInUserID.toString();
	<% } %>
	var jsonRow=backendDirectory+"/api_fetch_list?start="+startAva+"&limit="+pageSize+"&collection=availability&findFieldName=user_mongo_id&findFieldValue="+id;
	$.getJSON(jsonRow,function(html){
		if(html.total){
			totalAvaNum=html.total;
		}
		if(html.aaData){
			var tableContentArr=html.aaData;
			var contentHtmlStr="";
			for(var i=0; i<tableContentArr.length; i++){
				contentHtmlStr+='<div class="row blogCommentsClass" style="background-color: aliceblue; padding: 20px; margin: 5px 5px 20px; border-radius: 5px;">';
                contentHtmlStr+='<div class="col-sm-10  col-md-12 col-lg-10"><input type="hidden" class="span10" name="uuid" id="uuid" value="'+tableContentArr[i]._id+'" />';
				contentHtmlStr+='<div class="form-group"><label for="" class="col-sm-2 control-label">Date</label>';
				contentHtmlStr+='<div class="col-sm-4"><input type="text" readonly class="form-control" id="start_date" reaodnly value="'+dateTimeFromUnix(tableContentArr[i].timestamp, false)+'"></div>';
                contentHtmlStr+='<label for="" class="col-sm-2 control-label">Availability</label><div class="col-sm-4"><input type="text" readonly class="form-control" id="available" reaodnly value="'+tableContentArr[i].available+'">';
                contentHtmlStr+='</div></div>';
                var tempCommentsArr= tableContentArr[i].comments;
				for(var j=0; j<tempCommentsArr.length; j++){		
                	contentHtmlStr+='<div class="form-group">';
                    contentHtmlStr+='<label for="" class="col-sm-2 control-label">';
                    if(loggedInUserID == tempCommentsArr[j].added_by){
                   		contentHtmlStr+='Me';
                    }else if(tempCommentsArr[j].added_by_name!=""){
                    	contentHtmlStr+=tempCommentsArr[j].added_by_name;
                    }else{
                    	contentHtmlStr+='User';
                    }
                    contentHtmlStr+=' ('+dateTimeFromUnix(tempCommentsArr[j].created, false)+')</label>';
                    
                    contentHtmlStr+='<div class="col-sm-10"><i>'+tempCommentsArr[j].comment+'</i></div>';
                    contentHtmlStr+='</div>';
                }
                contentHtmlStr+='<div class="form-group">';
                contentHtmlStr+='<label for="" class="col-sm-2 control-label">Add comment</label>';
                contentHtmlStr+='<div class="col-sm-8"><TEXTAREA CLASS="form-control" id="comment_'+tableContentArr[i]._id+'"></TEXTAREA></div>';
                contentHtmlStr+='<div class="col-sm-2"><a href="javascript:void(0)" class="btn btn-primary btn-color margin-right-5 btn-sm" onClick="addNewComment(\''+tableContentArr[i]._id+'\'); return false;">Add comment</a></div>';
                contentHtmlStr+='</div>';
                contentHtmlStr+='</div>';
                contentHtmlStr+='</div>';
			}	
			$("#loadAvailabilityDiv").append(contentHtmlStr);
		}
		
		if(endAva< totalAvaNum){
			$('#display_more_btn').show();
		}
		$('#img_loading_div').hide();
	});
}

function addNewComment(e){
	var commentStr=$("#comment_"+e).val();
	if(commentStr!=""){
		var postContentURL=backendDirectory+"/addCommentForUser";
   		$.ajax({
			type: "POST",
			dataType: "json",
			url: postContentURL,
			data: {"comment" : commentStr, "id" : e},
			success: function(response){
				if(response.success){
					__alertModalBox(response.success);
					load_availability();
				}else if(response.error){
					__alertModalBox(response.error);
				}
			}
		});
	}else{
		$("#comment_"+e).focus();
		__alertModalBox('Please add comment!');
	}
}
function load_payments(){
	$(".membershipFeeClass").remove();
	var id=$("#id").val();
	var jsonRow=backendDirectory+"/api_fetch_list?limit=all&collection=membership_fee_details&findFieldName=user_mongo_id&findFieldValue="+id;
	$.getJSON(jsonRow,function(html){
		if(html.aaData){
			var tableContentArr=html.aaData;
			var contentHtmlStr="";
			for(var i=0; i<tableContentArr.length; i++){
				contentHtmlStr+='<div class="form-group membershipFeeClass">';
                contentHtmlStr+='<label class="control-label col-md-2" for="">Paid on ('+dateTimeFromUnix(tableContentArr[i].paid_on_timestamp)+')</label>';
                contentHtmlStr+='<div class="col-md-6 col-lg-5">';
                contentHtmlStr+='<input type="text" class="form-control col-md-5 col-xs-12" id="amount_paid" value="'+tableContentArr[i].amount_paid+'" readonly>';
                contentHtmlStr+='</div>';
                contentHtmlStr+='</div>';
			}	
			$("#amount_paidDiv").before(contentHtmlStr);
		}
	});
}

function payMemberShip(e){
	$(".membershipFeeAlert").remove();
	
	var amountPaid=$("#new_amount_paid").val();
	var paid_date=return_timestamp_from_datetimepicker($("#paid_date").val(),false);
    var postContentURL=backendDirectory+"/api_crud_post";
    var uuidSystemStr=	"<% if (typeof authenticatedUser.active_system_uuid !== 'undefined' && authenticatedUser.active_system_uuid !== null && authenticatedUser.active_system_uuid !== "") {	 %><%= authenticatedUser.active_system_uuid %><% } %>";
		
    if(amountPaid!="" && $("#paid_date").val()!=""){
   		$.ajax({
			type: "POST",
			dataType: "json",
			url: postContentURL,
			data: {"collection" : "membership_fee_details", "action" : "create", "fieldName": "_id", "fieldValue" : "", "user_mongo_id" : e, "amount_paid" : amountPaid, "paid_on_timestamp" : paid_date,"uuid_system" : uuidSystemStr},
			success: function(response){
				$("#new_amount_paid").val('');
				$("#paid_date").val('');
				load_payments();
			}
		});
	}else{
		$("#amount_paidDiv").before('<div class="alert alert-danger membershipFeeAlert"> Please enter both the fields!</div>');
	}
}

function addComment(e){
	var commentStr= $("#"+e).val();
}

function load_systems(e){
	$("#select_systems").html("");
	var onLoadBool = typeof e !== 'undefined';
	
	var defaultAssignedVal=$("#uuid_default_system").val();
	var jsonRow=backendDirectory+"/api_fetch_list?limit=all&collection=systems";
	
	$.getJSON(jsonRow,function(response){
		if(response.aaData){
		var contentHtml="", defaultContentHTML="";
		if(response.aaData.length>0){
			var selectedSearchArr = new Array();
			<% if (typeof contentObj.uuid_default_system !== 'undefined' && contentObj.uuid_default_system !== null && contentObj.uuid_default_system !== "") { %>
				defaultAssignedVal="<%= contentObj.uuid_default_system %>";
			<% } %>
			
			<% if (typeof contentObj.shared_systems !== 'undefined' && contentObj.shared_systems !== null && contentObj.shared_systems !== "") { %>
				var tempselectedSearchArr=<%- JSON.stringify(contentObj.shared_systems) %>;
				if(typeof(tempselectedSearchArr)=="object" || typeof(tempselectedSearchArr)=="array"){
					selectedSearchArr = tempselectedSearchArr;
				}	else	{
					selectedSearchArr = JSON.parse(tempselectedSearchArr);
				}
			<% } %>	
			
			$.each(response.aaData, function(i,row){
				if(defaultAssignedVal!="" && defaultAssignedVal==row._id){
					var tempcontentHtml="<option value='"+row._id+"' selected >"+row.name+"</option>"; 
					defaultContentHTML+=tempcontentHtml;
				}else{
					var tempcontentHtml="<option value='"+row._id+"' ";
					if(selectedSearchArr.length>0){
						if($.inArray( row._id, selectedSearchArr)!==-1){
							tempcontentHtml+="selected";
						}
					}
					tempcontentHtml+=" >"+row.name+"</option>";
					contentHtml+=tempcontentHtml;
					defaultContentHTML+="<option value='"+row._id+"' >"+row.name+"</option>"; 
				}
			});
     	}
     	if(onLoadBool){
     		$("#uuid_default_system").html(defaultContentHTML);
     		$('#uuid_default_system').combobox();
     	}
     	$("#select_systems").html(contentHtml);
     	
     	for (var selector in configDropDown) {
      		$(selector).chosen(configDropDown[selector]);
   		}
   		$("#select_systems").trigger("chosen:updated");
   		}
	});
}

function load_countries(){
		var countrySelectedStr= "<% if (typeof contentObj.country !== 'undefined' && contentObj.country !== null) {	%><%= contentObj.country %><%	}	%>";
		if(countrySelectedStr==""){
			countrySelectedStr="United Kingdom";
		}
		var jsonRow=backendDirectory+"/api_fetch_list?limit=all&collection=Country",
		xhrStatus=$.getJSON(jsonRow,function(html){
			if(html.error){
				
			}else{
				
				var contentHtml="";
				$.each(html.aaData, function(i,row){
					if(row.Name==countrySelectedStr){
						contentHtml+='<option value="'+row.Name+'" selected>'+row.Name+'</option>';
					}else{
						contentHtml+='<option value="'+row.Name+'">'+row.Name+'</option>';
					}
				});
				$("#country").html(contentHtml);
				$("#country").val(countrySelectedStr);
			}
		});
	}
	function load_member_types(){
		var userType="";
		<% if (typeof contentObj.player_type_uuid !== 'undefined' && contentObj.player_type_uuid !== null && contentObj.player_type_uuid !== "") { %>
			userType="<%= contentObj.player_type_uuid %>";
		<% } %>
		
		var jsonRow=backendDirectory+"/api_fetch_list?limit=all&collection=member_types",
		xhrStatus=$.getJSON(jsonRow,function(html){
			if(html.error){
				
			}else{
				if(html.total){
					totalNum=parseInt(html.total);
				}
				var contentHtml="";
				$.each(html.aaData, function(i,row){
					contentHtml+='<option value="'+row._id+'" ';
					if(userType==row._id){
						contentHtml+=' selected ';
					}
					contentHtml+='>'+row.name+'</option>';
				});
				$("#player_type_uuid").html(contentHtml);
				load_player_types();
			}
		});
	}
	function generate_temp_code(passStr){
		var val=passStr;
		var patt=/[^A-Za-z0-9_-]/g;
		var result=val.replace(patt,' ');
		result=result.replace(/\s+/g, ' ');
		result = result.replace(/^\s+|\s+$/g,'');
		result=result.replace(/\s/g, '-');
		var resultStr=result.toLowerCase();
		return resultStr;
	}
	
	function generate_new_player_type(val){
		var codeStr=generate_temp_code(val);
    	var postContentURL=backendDirectory+"/api_crud_get";
    	var uuidSystemStr=	"<% if (typeof authenticatedUser.active_system_uuid !== 'undefined' && authenticatedUser.active_system_uuid !== null && authenticatedUser.active_system_uuid !== "") {	 %><%= authenticatedUser.active_system_uuid %><% } %>";
		$.ajax({
			type: "GET",
			dataType: "json",
			url: postContentURL,
			data: {"collection" : "player_types", "action" : "create", "fieldName" : "code", "fieldValue" : codeStr, "name" : val, "code" : codeStr, "member_type_mongo_id" : $("#player_type_uuid").val(), "uuid_system" : uuidSystemStr},
			success: function(response){
				console.log(response);
			}
		});
	}
	
	function load_player_types(){
		var userSelectedOptions=new Array();
		<% if (typeof contentObj.player_qualities !== 'undefined' && contentObj.player_qualities !== null && contentObj.player_qualities !== "") {	 %>
			var tempSelectedStr='<%= contentObj.player_qualities %>';
			userSelectedOptions= tempSelectedStr.split(",");
			
		<% } %>
		
		var e=$("#player_type_uuid").val();
		var jsonRow=backendDirectory+"/api_fetch_list?start=0&limit=100&collection=player_types",
		xhrStatus=$.getJSON(jsonRow,function(html){
			if(html.error){
				//
			}else{
				
				var contentArr=new Array();
				var allTagsArr= new Array();
				var selectedArr=new Array();
				$.each(html.aaData, function(i,row){
					allTagsArr.push(row.name);
					if($.inArray( row.name, userSelectedOptions)!==-1){
						selectedArr.push(row.name);
					}else{
						contentArr.push(row.name);
					}
				});
				$('#selected_qualities').tagEditor({
					initialTags: selectedArr,
    				autocomplete: {
       					delay: 0, // show suggestions immediately
        				position: { collision: 'flip' }, // automatic menu position up/down
        				source: contentArr
    				},
    				forceLowercase: false,
    				placeholder: 'Add Qualities',
    				beforeTagSave: function(field, editor, tags, tag, val) {
    					if($.inArray( val, allTagsArr)==-1){
    						generate_new_player_type(val);
        				}
    				}
				});
			}
		});
	}

function upload_single_file(form){
$(".uploadFile").remove();
if( $('#file').length )	{
	if($('#file').val().length>0)	{
		$('#processingPrompt').modal('show');
		var guidStr=$("#uploaded_file_uuid").val();
		if(guidStr==""){
			guidStr= guid();
		}
		var data = new FormData();
		data.append('related_collection', $("#table_name").val());
		data.append('uuid', guidStr);
		data.append('collection_id', $("#id").val());
		data.append('type', $("#table_name").val());
		
		var filesize=Number($('#file')[0].files[0].size)/(1024*1024);
		
		if(filesize>5){
			$('#contentForm').before('<div class="alert alert-error alert-dismissable uploadFile"><button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>The file size larger than 5MB is not allowed</div>');
			$('#file').focus();
		}else{
			var files= $('#file')[0].files;
			var fileNameStr =files[0].name;
				$.each(files, function(key, value){
					data.append('file', value);
				});
			
				$.ajax({
					url: backendDirectory+'/find_remove_file',
					type: 'POST',
					data: {'uuid' : guidStr},
					dataType: 'json',
					success: function(response){
						if(response.success){
							$.ajax({
								url: backendDirectory+'/upload',
								type: 'POST',
								data: data,
								dataType: 'json',
								contentType: false,
								enctype: 'multipart/form-data',
								cache: false,
								processData: false, // Don't process the files
								success: function(response){	
									$('#processingPrompt').modal('hide');
									if(response.success && response._id && response._id!=""){
										$("#uploaded_file_uuid").val(guidStr);
										$("#uploaded_file_name").val(fileNameStr);
										
										$("#file").prop('disabled', true);	//disable the file field
										dataAsJson('contentForm', form);
									} else if(response.error) {
										$('#contentForm').before('<div class="alert alert-error alert-dismissable uploadFile"><button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>'+response.error+'</div>');
									}else {
										$('#contentForm').before('<div class="alert alert-error alert-dismissable uploadFile"><button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>Sorry, error in uploading file!</div>');
									}
								}
							});
						}else {
							$('#contentForm').before('<div class="alert alert-error alert-dismissable uploadFile"><button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>Sorry, error in uploading file!</div>');
						}
					}
				});
		}
	}	else {
		dataAsJson('contentForm', form);
	}
}	else {
	dataAsJson('contentForm', form);
}
}
	
$(document).ready(function() {
	<% if (typeof contentObj._id !== 'undefined' && contentObj._id !== null && typeof authenticatedUser.access_right !== 'undefined' && authenticatedUser.access_right !== null  && authenticatedUser.access_right == "11"  && authenticatedUser.access_right == 11) { %>
        $.getJSON(backendDirectory+"/api_fetch_user_groups?_id=<%= contentObj._id %>",function(response){
        	if(response.aaData && response.aaData.length>0){
				var tempGroupStr= ""
				$.each(response.aaData, function(i,row){
					console.log(row)
					if(tempGroupStr!=""){
						tempGroupStr+=", "+row.name;
					}else{
						tempGroupStr+=row.name;
					}
				});
				$("#assigned_groups").val(tempGroupStr);
			}
		});        					
    <% } %>
	<% if (typeof authenticatedUser.active_system_uuid !== 'undefined' && authenticatedUser.active_system_uuid !== null && authenticatedUser.active_system_uuid !== "") {	 %>
		$.getJSON(backendDirectory+"/collection_details?collection=systems&id=<%= authenticatedUser.active_system_uuid %>",function(response){
			if(response.aaData && response.aaData.organisation_type && response.aaData.organisation_type=="cricket_club"){
				$(".clubUIClass").show();
				load_member_types();
				load_payments();
				var defaultAssignedVal='';
				<% if (typeof contentObj.club_mongo_id !== 'undefined' && contentObj.club_mongo_id !== null && contentObj.club_mongo_id !== "") { %>
					defaultAssignedVal="<%= contentObj.club_mongo_id %>";
				<% } %>
				fetch_collection_autocomplete_list('clubs', 'club_mongo_id', defaultAssignedVal);
			}
		});
	<% } %>
	
	load_systems(true);
	load_countries();
	load_availability();
	
	var dobVal= $("#dob").val();
	if(dobVal!="" && !isNaN(dobVal)){
		$("#age").val(getAge(dobVal));
		$('.ageClass').show();
		
		var a = new Date(dobVal * 1000);
    	var month = a.getMonth()+1;
		$("#date_of_birth").val(a.getDate() + '/' + month + '/' + a.getFullYear());
	}
	 // datetimepicker plugin
		if($("#dob").val()!=""){
			var tempDisplayDate=return_datetimepicker_from_timestamp($("#dob").val());
			$("#date_of_birth").val(tempDisplayDate);
		}
		$('#datetime_picker').datetimepicker({
			format: 'L'
		});
		$('#paid_datetime_picker').datetimepicker({
			format: 'L'
		});
		$("#datetime_picker").on("dp.change", function (e) {
        	var timestampnum= return_timestamp_from_datetimepicker($("#date_of_birth").val(),false);
        	$("#dob").val(timestampnum);
			$("#age").val(getAge(timestampnum));
			$('.ageClass').show();
        });
		
	// validate form on keyup and submit
		$("#contentForm").validate({
			ignore: "",
			onkeyup: false,
			errorClass: 'error',
			validClass: 'valid',
			errorElement: "em",
			errorPlacement: function(error, element) {
				if (element.attr("name") == "access_right" || element.attr("name") == "status" ) {
      				$(element).closest('div').after(error);
   				} else {
					$(element).closest('div').append(error);
				}
			},
			onfocusout: false,
			invalidHandler: function(form, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {                    
					validator.errorList[0].element.focus();
				}
			},
			rules: {
				uuid_default_system: { required: true },
				firstname: { required: true },
				lastname: { required: true },
				email: { required: true, email : true },
				access_right: { required: true },
				password: { required: true },
				status: { required: true }
			},
			submitHandler: function(form) {
				$("#club_name").val($("#club_mongo_id option:selected").text());
				var userSystemsStr= $('#select_systems').val();  
				
				var uuid_default_system= $('#uuid_default_system').val();  
				if(userSystemsStr!="" && userSystemsStr!=null && userSystemsStr!="undefined"){
					var	userSystemsArr=userSystemsStr.toString().split(",");
					userSystemsArr.push(uuid_default_system);
					var selectedSystemsStr= JSON.stringify(userSystemsArr);
					
					$('#shared_systems').val(selectedSystemsStr);
					$('#select_systems').remove();
				}
				
				var selectedQuastr=$('#selected_qualities').val();
				$('#player_qualities').val(selectedQuastr);
				
				var selectedPlayerTypeStr=$("#player_type_uuid option:selected").text();
				$("#player_type").val(selectedPlayerTypeStr);
				
				//dataAsJson('contentForm', form);
				upload_single_file(form);
 			}
		});	
	$("#change_password").click(function() {
    	if ($('#change_password').is(':checked')) {
      		$('#password').removeAttr('disabled');
      	} else {
      		$('#password').attr('disabled', true);
    	}
    });
    
    $("#notifications").click(function() {
    	if ($('#notifications').is(':checked')) {
      		$('#send_notifications').val('on');
      	} else {
      		$('#send_notifications').val('off');
    	}
    });
    $("#web_access").click(function() {
    	if ($('#web_access').is(':checked')) {
      		$('#allow_web_access').val(1);
      	} else {
      		$('#allow_web_access').val(0);
    	}
    });
    $("#firstname").blur(function(){
		get_unique_username();
	});
	$("#firstname").change(function(){
		get_unique_username();
	});
	$("#lastname").blur(function(){
		get_unique_username();
	});
	$("#lastname").change(function(){
		get_unique_username();
	});
});
var xhr;
(function( $ ) {
	$.widget( "custom.combobox", {
		_create: function() {
				this.wrapper = $( "<span>" )
				.addClass( "custom-combobox" )
				.insertAfter( this.element );

				this.element.hide();
				this._createAutocomplete();
				this._createShowAllButton();
				},

				_createAutocomplete: function() {
				var ele_select= this.element;
				var selected = this.element.children( ":selected" ),
				value = selected.val() ? selected.text() : "";

				this.input = $( "<input>" )
				.appendTo( this.wrapper )
				.val( value )
				.attr( "title", "" )
				.addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
				.autocomplete({
				delay: 0,
				minLength: 0,
				source: $.proxy( this, "_source" )
				})
				.tooltip({
				tooltipClass: "ui-state-highlight"
				});

				this._on( this.input, {
				autocompleteselect: function( event, ui ) {
				//alert("show all");
				ui.item.option.selected = true;

				this._trigger( "select", event, {
				  item: ui.item.option
				});
				
				ele_select.trigger('change');
					if(ele_select.attr('id')=='uuid_default_system'){
						load_systems();
					}
				},

				autocompletechange: "_removeIfInvalid"
				});
				},

				_createShowAllButton: function() {
				var input = this.input,
				wasOpen = false;

				$( "<a>" )
				.attr( "tabIndex", -1 )
				.attr( "title", "Show All Items" )
				.tooltip()
				.appendTo( this.wrapper )
				.button({
				icons: {
				  primary: "ui-icon-triangle-1-s"
				},
				text: false
				})
				.removeClass( "ui-corner-all" )
				.addClass( "custom-combobox-toggle ui-corner-right" )
				.mousedown(function() {
				wasOpen = input.autocomplete( "widget" ).is( ":visible" );
				})
				.click(function() {
				input.focus();

				// Close if already visible
				if ( wasOpen ) {
				  return;
				}

				// Pass last search string as value to search for, displaying last results
				input.autocomplete( "search", 'SHOWALL' );
				});
				},

				_source: function( request, response ) {
				//var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
				var ele_select= this.element;
				if(request.term=='SHOWALL'){
				response(ele_select.children( "option" ).map(function() {
				var text = $( this ).text();
				var value= $( this ).val();
				//if ( this.value && ( !request.term || matcher.test(text) ) )
				return {
				  label: text,
				  value: text,
				  option: this
				};
				}) );

				}
				else
				{
				if(ele_select.attr('id')=='uuid_default_system'){
					var jsonRow = '<%= backendDirectory %>/api_fetch_list?start=0&limit=20&collection=systems&s='+request.term;
				}else if(ele_select.attr('id')=='club_mongo_id'){
					var jsonRow = '<%= backendDirectory %>/api_fetch_list?start=0&limit=20&collection=clubs&s='+request.term;
				}
				if(xhr) xhr.abort();
				xhr=$.getJSON(jsonRow,function(result){
					
				if(result.error){
					var html='<option value=""></option>';
					ele_select.html(html);
					response(ele_select.children( "option" ).map(function() {
					var text = $( this ).text();
					var value= $( this ).val();
					//if ( this.value && ( !request.term || matcher.test(text) ) )
					return {
				  		label: text,
				  		value: text,
				  		option: this
					};
					}) );
				}else{
					var html='<option value=""></option>';
					if(result.aaData.length>=1){
						$.each(result.aaData, function(i,row){
							html+='<option value="'+row._id+'">'+row.name+'</option>';
						});
					}
					
					ele_select.html(html);
					
					
					response(ele_select.children( "option" ).map(function() {
				var text = $( this ).text();
				var value= $( this ).val();
				//if ( this.value && ( !request.term || matcher.test(text) ) )
				return {
				  label: text,
				  value: text,
				  option: this
				};
				}) );
					
					
				}
				});

				} 

				},

				_removeIfInvalid: function( event, ui ) {

					// Selected an item, nothing to do
					if ( ui.item ) {

					return;
					}

					// Search for a match (case-insensitive)
					var value = this.input.val(),
					valueLowerCase = value.toLowerCase(),
					valid = false;
					var ele_select= this.element;
					this.element.children( "option" ).each(function() {
					if ( $( this ).text().toLowerCase() === valueLowerCase ) {
						this.selected = valid = true;	
						if(ele_select.attr('id')=='uuid_default_system'){
							load_systems();
						}
						ele_select.trigger('change');

						return false;
					}
					});

					// Found a match, nothing to do
					if ( valid ) {
					return;
					}

					// Remove invalid value
					this.input
					.val( "" )
					.attr( "title", value + " didn't match any item" )
					.tooltip( "open" );
					this.element.val( "" );
					this._delay(function() {
					this.input.tooltip( "close" ).attr( "title", "" );
					}, 2500 );
					this.input.data( "ui-autocomplete" ).term = "";
				},

				_destroy: function() {
					this.wrapper.remove();
					this.element.show();
				}
			});
			})( jQuery );
</script>
</body>
</html>