<% include include/main-header %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">	
   		<!-- Header Starts here-->
  		<% include include/header %>
  		<!-- Header Ends here-->
  		
  		<!-- Sidebar Starts Here-->
  			<% include include/sidebar %>
    	<!-- Sidebar Ends Here-->
		<div class="content-wrapper">
    	  	<!-- Content Header (Page header) -->
    		<section class="content-header">
      			<h1>Venue <small><% if (typeof contentObj.name !== 'undefined' && contentObj.name !== null) { %><%= contentObj.name %><% } else{	%>Add new<% }%></small></h1>
      			<ol class="breadcrumb">
        			<% include include/dashboard-breadcrumb %>
        			<li class="active">Venue</li>
      			</ol>
    		</section>	
    		<section class="content">
      			<div class="row">
      						<div class="panel-body no-padding-top bg-white"> 
            					<% include include/display_returned_msg %>
            					<form class="form-horizontal" action="<%= backendDirectory %>/save/venue" method="POST" id="contentForm">
            						<input type="hidden" class="form-control" id="table_name" name="table_name" value="venue">
      								<input type="hidden" class="form-control" id="unique_field" name="unique_field" value="name">
      								<input type="hidden" class="form-control" id="id" name="id" value="<% if (typeof contentObj._id !== 'undefined' && contentObj._id !== null) { %><%= contentObj._id %><% } %>">
      								<input type="hidden" class="form-control" id="editorField" name="editorField" value="<% if (typeof editorField !== 'undefined' && editorField !== null) { %><%= editorField %><% }else{ %>_id<% } %>">
      								<input type="hidden" class="form-control" id="editorValue" name="editorValue" value="<% if (typeof editorValue !== 'undefined' && editorValue !== null) { %><%= editorValue %><% } %>">
            						<input type="hidden" class="form-control" id="data" name="data" value="">
            						
            						<div class="form-group">
                  						<label class="control-label col-md-2" for="first-name">Name<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-4">
                    						<input type="text" required="required" id="name" name="name" class="form-control col-md-5 col-xs-12" value="<% if (typeof contentObj.name !== 'undefined' && contentObj.name !== null) { %><%= contentObj.name %><% } %>">
                  						</div>
                					</div>
              						
                					<div class="form-group">
                  						<label class="control-label col-md-2" for="">Location</label>
                  						<div class="col-md-6 col-lg-4">
                   							<textarea class="form-control col-md-5 col-xs-12" id="location" name="location"><% if (typeof contentObj.location !== 'undefined' && contentObj.location !== null) { %><%= contentObj.location %><% } %></textarea>
                  						</div>
                					</div>
                					
                					<div class="form-group">
                  						<label class="control-label col-md-2" for="">Embedded google map</label>
                  						<div class="col-md-6 col-lg-4">
                   							<textarea class="form-control col-md-5 col-xs-12" id="google_map_link" name="google_map_link"><% if (typeof contentObj.google_map_link !== 'undefined' && contentObj.google_map_link !== null) { %><%= contentObj.google_map_link %><% } %></textarea>
                  						</div>
                  						<div class="col-md-6 col-lg-2">
                   							<a href="https://www.google.co.in/maps/" class="btn btn-danger btn-sm" target="_blank">Generate google map</a>
                  						</div>
                					</div>
                					
                					<div class="form-group">
                  						<label class="control-label col-md-2" for="first-name">Contact email</label>
                  						<div class="col-md-6 col-lg-4">
                    						<input type="email" id="contact_email" name="contact_email" class="form-control col-md-5 col-xs-12" value="<% if (typeof contentObj.contact_email !== 'undefined' && contentObj.contact_email !== null) { %><%= contentObj.contact_email %><% } %>">
                  						</div>
                					</div>
                					
                					<div class="form-group">
                  						<label class="control-label col-md-2" for="first-name">Contact no.</label>
                  						<div class="col-md-6 col-lg-4">
                    						<input type="text" id="contact_number" name="contact_number" class="form-control col-md-5 col-xs-12" value="<% if (typeof contentObj.contact_number !== 'undefined' && contentObj.contact_number !== null) { %><%= contentObj.contact_number %><% } %>">
                  						</div>
                					</div>
                					
                					<div class="form-group">
    									<label for="" class="col-sm-2 control-label">Status</label>
    									<div class="col-sm-9" style="margin-top:6px;">
    										<div STYLE="margin-right:10px;display:inline-block;">
      		  									<label> <input type="radio" id="status" name="status" value="1" <% if (typeof contentObj.status !== 'undefined' && contentObj.status !== null && contentObj.status == 1) { %>checked<% } %> > <strong style="font-weight:600">Active</strong></label>
    			  							</div>
				  							<div STYLE="display:inline-block;">
      		  									<label> <input type="radio" id="status" name="status" value="0" <% if (typeof contentObj.status !== 'undefined' && contentObj.status !== null && contentObj.status == 0) { %>checked<% } %> > <strong style="font-weight:600">Inactive</strong></label>
    			  							</div>
										</div>
									</div>
                					<div class="form-group">
                   						<div class="col-md-9 col-lg-6" align="CENTER">
               								<div class="submit-btn-setting"> <button type="submit" class="btn btn-primary btn-color margin-right-5 btn-sm">Submit</button>
               								<% if (typeof contentObj._id !== 'undefined' && contentObj._id !== null) {	%>
               									<a href="<%= backendDirectory %>/list/venues" class="btn btn-danger btn-sm">Cancel</a>
               								<%	}else{	%>
               									<button type="reset" class="btn btn-danger btn-sm">Reset</button>
               								<% } %>
               								</div>
               							</div>
                					</div>
              					</form>
              				</div>
            	</div>
      		</section>
    		<!--//body content--> 
  		</div>
  		<!--//Main Content--> 
	
		<!-- Footer Starts Here-->
			<% include include/footer %>
		<!-- Footer Ends Here-->
</div>
<!-- Page-Level Plugin Scripts-->
<script src="js/jquery.validate.js"></script>
<script>
$(document).ready(function(){
		// validate form on keyup and submit
		$("#contentForm").validate({
			ignore: "",
			onkeyup: false,
			errorClass: 'error',
			validClass: 'valid',
			errorElement: "em",
			errorPlacement: function(error, element) {
				$(element).closest('div').append(error);
			},
			onfocusout: false,
			invalidHandler: function(form, validator) {
				var errors = validator.numberOfInvalids();
				if (errors) {                    
					validator.errorList[0].element.focus();
				}
			},
			rules: {
				name: { required: true },
				location: { required: true }
			},
			submitHandler: function(form) {
 				dataAsJson('contentForm', form);
 			}
		});	
});
</script>
</body>
</html>